@import "/src/assets/scss/theme-colors.scss";

mat-drawer-container {
  height: 100vh;
}

.nav-bar-container {
  min-height: 60px;
  justify-content: flex-end;
  background: $primary-dark;
  align-items: center;
  padding: 5px;
  box-shadow: 3px 5px 9px #c7c7c7;
  display: flex;
}

.small-profile {
  min-width: 50px;
  max-width: 50px;
  min-height: 50px;
  max-height: 50px;
  padding: 3px;

  background: transparent;
  border: transparent;
  cursor: pointer;

  img {
    width: 100%;
    border-radius: 50%;
    object-fit: cover;
  }
}

.padding {
  padding: 10px;
}

/*.text_navers{ display: none; }
.side-menu_ul:hover .text_navers{ display:block;text-align: center;float: right;padding-left:15px;padding-top: 5px; }
.side-menu_ul:hover{ position: relative;width: 150px; }*/

