mat-form-field {
  width: 100% !important;
  font-size: 13px;
}

.text-overflow {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 25%;
}

::ng-deep .isError {
  .tox-tinymce {
    border-color: #f44336 !important;
  }
}

.mini-alert {
  position: absolute;
  padding: 3px 14px;
  width: 100%;
  background: #efd2d0;
  border-radius: 6px;
  top: -4px;
  color: #3e3b3b;
  display: flex;
  align-items: center;
}
