<app-inner-header></app-inner-header>
<section class="dsb-cnt">
    <div class="container">
        <div class="row">
            <div class="sidebar-cnt">
                 <app-sidemenu></app-sidemenu>
            </div>
            <div class="tabpages-cnt">
                <div class="row">
                    <div class="col-md-6 col-lg-4">
                        <div class="card grey-cnt">
                            <div class="card-body">
                                <p>Total Sales</p>
                                <h3 class="heading text-right">0</h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <div class="card grey-cnt">
                            <div class="card-body">
                                <p>Total Sales Value</p>
                                <h3 class="heading text-right">0 BNB</h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <div class="card grey-cnt">
                            <div class="card-body">
                                <p>Artists Collection</p>
                                <h3 class="heading text-right">0</h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <div class="card grey-cnt">
                            <div class="card-body">
                                <p>Total Collected</p>
                                <h3 class="heading text-right">0</h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <div class="card grey-cnt">
                            <div class="card-body">
                                <p>Total Collected Value</p>
                                <h3 class="heading text-right">0 BNB</h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 d-flex justify-content-center align-items-center">
                        <div class="d-flex justify-content-around w-100">
                            <a href="" class="d-flex flex-column justify-content-center align-items-center">
                                <img src="assets/images/send-icon.png">
                                <p class="text-center mt-2">Send</p>
                            </a>
                            <a href="" class="d-flex flex-column justify-content-center align-items-center">
                                <img src="assets/images/receive-icon.png">
                                <p class="text-center mt-2">Receive</p>
                            </a>
                        </div>
                    </div>

                    <div class="col-lg-12">
                        <h3 class="section-title">Offers</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<app-inner-footer></app-inner-footer>