<div class="d-flex mb-4 page-header">
    <ul class="bread-crump_container">
        <li>
            <a [routerLink]="['dasboard' | appRouter]"> Home</a>
        </li>
        <li>
            <a [routerLink]="['token_list' | appRouter]"> Tokens</a>
        </li>

        <li>
            <ng-container [ngSwitch]="editObj.id">
                <ng-container *ngSwitchCase="'new'">New Token </ng-container>
            </ng-container>
        </li>
    </ul>

    <div class="group-button" *ngIf="!isGetSingleDataLoading">
        <button type="submit" [disabled]="isDataPassing" mat-button [color]="editObj.id == 'new' ? 'primary' : 'accent'"
            (click)="formSubmit()">
            <mat-icon *ngIf="!isDataPassing">
                {{ editObj.id == "new" ? "add" : "fact_check" }}
            </mat-icon>

            <ng-container *ngIf="!isDataPassing">
                {{ editObj.id == "new" ? "Add" : "Update" }} Token</ng-container>

            <ng-container *ngIf="isDataPassing">
                Please Wait <span> ... </span>
            </ng-container>
        </button>
    </div>
</div>

<mat-card class="table-container" *ngIf="!isGetSingleDataLoading ">
    <ng-container>
        <form #editForm="ngForm" class="form-dark">
            <div class="container-fluid">

                <div class="row mt-2">
                    <div class="col-md-4">
                        <mat-form-field appearance="outline">
                            <mat-label> Name</mat-label>
                            <input matInput placeholder="Currency Name" name="Currencyname" autocomplete="off"
                                [(ngModel)]="editObj.currencyName" name="Currencyname" #currencyname="ngModel" required
                                (keypress)="general.removingSpaceFirst($event, editObj.currencyname)" />

                            <mat-error *ngIf="currencyname.errors">
                                {{ general.checkError(currencyname, "Name") }}
                            </mat-error>
                        </mat-form-field>


                        <mat-form-field appearance="outline">
                            <mat-label>Symbol</mat-label>
                            <input matInput placeholder=" Symbol" name="currency" autocomplete="off"
                                [(ngModel)]="editObj.currencySymbol"
                                (ngModelChange)="editObj.currencySymbol = $event.toUpperCase()"
                                #currencySymbol="ngModel" required
                                (keypress)="general.removingSpaceFirst($event, editObj.currencySymbol)" />

                            <mat-error *ngIf="currencySymbol.errors">
                                {{ general.checkError(currencySymbol, " Symbol") }}
                            </mat-error>
                        </mat-form-field>



                        <mat-form-field appearance="outline">
                            <mat-label> Contract Address</mat-label>
                            <input matInput placeholder=" Contract Address" name="currency_address" autocomplete="off"
                                [(ngModel)]="editObj.contract_address"
                                (ngModelChange)="editObj.currency_address = $event.toLowerCase()"
                                name="currency_address" #currency_address="ngModel" required
                                (keypress)="general.removingSpaceFirst($event, editObj.currency_address)" />

                            <mat-error *ngIf="currency_address.errors">
                                {{ general.checkError(currency_address, " Contract Address") }}
                            </mat-error>
                        </mat-form-field>

                        <mat-form-field appearance="outline">
                            <mat-label> Decimal</mat-label>
                            <input matInput placeholder=" Decimal" name="currency_decimal" autocomplete="off"
                                [(ngModel)]="editObj.currency_decimal" name="currency_decimal"
                                #currency_decimal="ngModel" required type="number"
                                (keypress)="general.removingSpaceFirst($event, editObj.currency_decimal)" />

                            <mat-error *ngIf="currency_decimal.errors">
                                {{ general.checkError(currency_decimal, " Decimal") }}
                            </mat-error>
                        </mat-form-field>

                        <app-image-upload [in]="editObj.currency_image" (allOut)="imgfile = $event"
                            (out)="editObj.currency_image = $event" name="img">
                        </app-image-upload>







                    </div>



                </div>
            </div>
        </form>
    </ng-container>
</mat-card>

<ng-container *ngIf="isGetSingleDataLoading">
    <div class="d-flex justify-content-center padding">
        <mat-spinner [diameter]="20" color="primary"></mat-spinner>
    </div>
</ng-container>