$primary-dark: #4481eb;
$primary-dark_text: #4481eb30;
$primary-dark_shadow: #d26a7c0d;
$primary-backdrop: rgba(134, 174, 241, 26%);
$primary-backdrop-msg: #1a66e6;

$primary-light: #bf08277a;
$primary-light_text: #d26a7c0d;
$primary-light_shadow: #be082700;

$seondary-dark: #bf0827;
$seondary-dark_text: #d26a7c0d;
$seondary-dark_shadow: #d26a7c0d;

$seondary-light: #bf08277a;
$seondary-light_text: #d26a7c0d;
$seondary-light_shadow: #be082700;

$warn-color: red;
$success-color: green;
