<div class="d-flex mb-4 page-header container-fluid">
    <ul class="bread-crump_container">
        <li>
            <a [routerLink]="['dasboard' | appRouter]"> Home</a>
        </li>
        <li>
            <a [routerLink]="['ip_block_list' | appRouter]"> Ip Block List</a>
        </li>

        <li *ngIf="!isGetSingleDataLoading">
            <ng-container [ngSwitch]="editObj._id">
                <ng-container *ngSwitchCase="'new'">New Ip </ng-container>
                <ng-container *ngSwitchDefault>
                    Ip -
                    {{ editObj.user_ip }}
                </ng-container>
            </ng-container>
        </li>
    </ul>

    <div class="group-button" *ngIf="!isGetSingleDataLoading">
        <button type="submit" [disabled]="isDataPassing" mat-button
            [color]="editObj._id != 'new' ? 'primary' : 'accent'" (click)="formSubmit()">
            <mat-icon *ngIf="!isDataPassing">
                {{ editObj._id == "new" ? "add" : "fact_check" }}
            </mat-icon>

            <ng-container *ngIf="!isDataPassing">
                {{   editObj._id == 'new' ? ' Add IP' :  'Update IP Details'  }}
            </ng-container>

            <ng-container *ngIf="isDataPassing">
                Please Wait <span> ... </span>
            </ng-container>
        </button>
        <button *ngIf="editObj._id != 'new' && !isDataPassing" type="button" mat-button color="accent"
            (click)="openAlertBox()">
            <mat-icon *ngIf="!isDataPassing">
                delete_outline
            </mat-icon>

            <ng-container *ngIf="!isDataPassing">
                Un Block
            </ng-container>

        </button>
    </div>
</div>


<mat-card class="table-container" *ngIf="!isGetSingleDataLoading">



    <ng-container>
        <form #editForm="ngForm">

            <div class="row">
                <div class="col-md-4">
                    <mat-form-field appearance="outline">
                        <mat-label>Ip Address</mat-label>
                        <!-- [pattern]="general.ipPattern" -->
                        <input matInput placeholder="Ip Address" name="user_ip" autocomplete="off"
                            [(ngModel)]="editObj.user_ip" #user_ip="ngModel" required
                            (keypress)="general.removingSpace($event)" [readonly]="editObj._id != 'new'" />

                        <mat-error *ngIf="user_ip.errors">
                            {{ general.checkError(user_ip, "Ip Address" , 'ip') }}
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field appearance="outline">
                        <mat-label>Status - {{editObj.status}}</mat-label>
                        <mat-select [(ngModel)]="editObj.status" name="status" required #blogtype="ngModel">
                            <mat-option *ngFor="let statusObj of statuses;let statusObjIndex = index" [value]="statusObjIndex">
                                {{ statusObj }}
                            </mat-option>
                        </mat-select>

                    </mat-form-field>

                </div>
                <!-- <div class="col-md-6">
                        <app-image-upload [in]="editObj.file" (allOut)="editFile = $event"
                            (out)="editObj.file = $event" name="file">
                        </app-image-upload>
                    </div> -->

            </div>





        </form>
    </ng-container>
</mat-card>


<ng-container *ngIf="isGetSingleDataLoading ">
    <div class="d-flex justify-content-center padding">
        <mat-spinner [diameter]="20" color="primary"></mat-spinner>
    </div>
</ng-container>