<app-header></app-header>
  <!-- Content -->
  <div class="metaportal_fn_content">

    <div class="metaportal_fn_pagetitle">

      <div class="container small">
        <div class="pagetitle">
          <h3 class="fn__maintitle big" data-text="Blog Articles" data-align="center">Blog Articles</h3>
          <p>
            <a href="index.html">Home</a>
            <span class="divider">/</span>
            <span class="text">Blog Articles</span>
          </p>
        </div>
      </div>
    </div>

    <!-- Section Divider -->
    <div class="fn_cs_section_divider">
      <div class="divider">
        <span class="short"></span>
        <span class="long"></span>
        <span class="short"></span>
      </div>
    </div>
    <!-- !Section Divider -->

    <div class="metaportal_fn_bloglist">
      <div class="container small">
        <div class="bloglist">
          <ul class="fn-isotope">
            <li class="isotope-item">
              <div class="blog__item">
                <div class="counter">
                  <span class="cc"><span>01</span></span>
                </div>
                <div class="meta">
                  <p>August 09, 2022  /  MetaVerse  /  4 Comments</p>
                </div>
                <div class="title">
                  <h3><a href="blog-single.html">Reasons Why People Use Discord</a></h3>
                </div>
                <div class="image">
                  <a href="blog-single.html">
                    <img src="img/blog/1.jpg" alt="">
                  </a>
                </div>
                <div class="read_more">
                  <a href="blog-single.html"><span>Read More</span></a>
                </div>
              </div>
            </li>
            <li class="isotope-item">
              <div class="blog__item">
                <div class="counter">
                  <span class="cc"><span>02</span></span>
                </div>
                <div class="meta">
                  <p>August 09, 2022  /  MetaVerse  /  4 Comments</p>
                </div>
                <div class="title">
                  <h3><a href="blog-single.html">Rewards for the Zoidster NFTs</a></h3>
                </div>
                <div class="image">
                  <a href="blog-single.html">
                    <img src="img/blog/2.jpg" alt="">
                  </a>
                </div>
                <div class="read_more">
                  <a href="blog-single.html"><span>Read More</span></a>
                </div>
              </div>
            </li>
            <li class="isotope-item">
              <div class="blog__item">
                <div class="counter">
                  <span class="cc"><span>03</span></span>
                </div>
                <div class="meta">
                  <p>August 09, 2022  /  MetaVerse  /  4 Comments</p>
                </div>
                <div class="title">
                  <h3><a href="blog-single.html">A Behind-the-Scenes Look: How the BRAWL-O-SEUM NFT Was Created</a></h3>
                </div>
                <div class="image">
                  <a href="blog-single.html">
                    <img src="img/blog/3.jpg" alt="">
                  </a>
                </div>
                <div class="read_more">
                  <a href="blog-single.html"><span>Read More</span></a>
                </div>
              </div>
            </li>
            <li class="isotope-item">
              <div class="blog__item">
                <div class="counter">
                  <span class="cc"><span>04</span></span>
                </div>
                <div class="meta">
                  <p>August 09, 2022  /  MetaVerse  /  4 Comments</p>
                </div>
                <div class="title">
                  <h3><a href="blog-single.html">Land Redemption Day is coming!</a></h3>
                </div>
                <div class="image">
                  <a href="blog-single.html">
                    <img src="img/blog/4.jpg" alt="">
                  </a>
                </div>
                <div class="read_more">
                  <a href="blog-single.html"><span>Read More</span></a>
                </div>
              </div>
            </li>
          </ul>
        </div>

        <div class="metaportal_fn_pagination">
          <ul>
            <li>
              <span>1</span>
            </li>
            <li>
              <a href="#">2</a>
            </li>
            <li>
              <a href="#">3</a>
            </li>
            <li>
              <span>...</span>
            </li>
            <li>
              <a href="#">77</a>
            </li>
          </ul>
        </div>

      </div>
    </div>

<app-footer></app-footer>


  </div>
  <!-- !Content -->



<!--oldversion-->
<!--<app-header></app-header>-->

<!--<div class="digital-art-sec">-->
<!--	<section class="blog-container">-->
<!--		<div class="container">-->
<!--			<h3 class="page-title">Blogs</h3>-->
<!--			<div class="row" *ngIf="blogs.length">-->
<!--				<div class="col-md-6 col-lg-4" *ngFor="let blog of blogs">-->
<!--					<a class="blog-cnt" (click)="myFunc(blog.blogId)">-->
<!--						<img src="{{ blog.image ? blog.image : 'assets/images/blog-1.png' }}">-->
<!--						<div class="text-cnt">-->
<!--							<h3>{{ blog.title }}</h3>-->
<!--							<p>{{ blog.date | date: 'medium' }}</p>-->
<!--							<p class="content" [innerHTML]="blog.content"></p>-->
<!--						</div>-->
<!--					</a>-->
<!--				</div>-->
<!--			</div>-->
<!--			<button class="btn default-btn mt-4" (click)="loadmore(skip)" *ngIf="blogs.length > 5">Load more</button>-->
<!--		</div>-->
<!--	</section>-->
<!--</div>-->
<!--<app-footer></app-footer>-->
