


<!--&lt;!&ndash; Preloader &ndash;&gt;-->
<!--<div class="metaportal_fn_preloader">-->
<!--  <div class="loading-container">-->
<!--    <div class="loading">-->
<!--      <div class="l1">-->
<!--        <div></div>-->
<!--      </div>-->
<!--      <div class="l2">-->
<!--        <div></div>-->
<!--      </div>-->
<!--      <div class="l3">-->
<!--        <div></div>-->
<!--      </div>-->
<!--      <div class="l4">-->
<!--        <div></div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
<!--&lt;!&ndash; !Preloader &ndash;&gt;-->

<!-- Left Navigation -->
<div class="metaportal_fn_leftnav_closer ready"></div>
<div class="metaportal_fn_leftnav ready">
  <a href="#" class="fn__closer"><span></span></a>
  <div class="navbox">
    <div class="list_holder">
      <ul class="metaportal_fn_items">
        <li>
          <div class="item">
            <a href="https://opensea.io/" target="_blank"></a>
            <span class="icon">
							<img src="img/market/opensea.png" alt="">
						</span>
            <span class="text">Opensea</span>
          </div>
        </li>
        <li>
          <div class="item">
            <a href="https://discord.com/" target="_blank"></a>
            <span class="icon">
							<img src="img/market/discord.png" alt="">
						</span>
            <span class="text">Discord</span>
          </div>
        </li>
      </ul>
    </div>
    <div class="nav_holder">

      <!-- For JS -->
      <span class="icon">
				<img src="svg/down.svg" alt="" class="fn__svg">
			</span>
      <!-- For JS -->

      <ul>
        <li><a href="index.html"><span class="creative_link">Home</span></a></li>
        <li><a href="nft-single.html"><span class="creative_link">Mint Page</span></a></li>
        <li><a href="collection.html"><span class="creative_link">Collection</span></a></li>
        <li>
          <a href="#">
            <span class="creative_link">Pages<img src="svg/down.svg" alt="" class="fn__svg"></span>
          </a>
          <ul class="sub-menu">
            <li><a href="coming-soon.html"><span class="creative_link">Coming Soon</span></a></li>
            <li><a href="404.html"><span class="creative_link">404 Page</span></a></li>
            <li><a href="protected.html"><span class="creative_link">Protected Page</span></a></li>
            <li><a href="no-results.html"><span class="creative_link">Search No Results</span></a></li>
            <li>
              <a href="#">
                <span class="creative_link">More<img src="svg/down.svg" alt="" class="fn__svg"></span>
              </a>
              <ul class="sub-menu">
                <li><a href="cookies.html"><span class="creative_link">Cookies</span></a></li>
                <li><a href="privacy-policy.html"><span class="creative_link">Privacy Policy</span></a></li>
                <li><a href="terms-conditions.html"><span class="creative_link">Terms &amp; Conditions</span></a></li>
              </ul>
            </li>
          </ul>
        </li>
        <li><a href="blog.html"><span class="creative_link">Blog</span></a></li>
        <li><a href="blog-single.html"><span class="creative_link">Blog Single</span></a></li>
      </ul>
    </div>
    <div class="info_holder">
      <div class="copyright">
        <p>Copyright 2022 - Designed &amp; Developed by <a href="https://themeforest.net/user/frenify/portfolio" target="_blank">Frenify</a></p>
      </div>
      <div class="social_icons">
        <ul>
          <li><a href="#"><img src="svg/social/twitter-1.svg" alt="" class="fn__svg"></a></li>
          <li><a href="#"><img src="svg/social/facebook-1.svg" alt="" class="fn__svg"></a></li>
          <li><a href="#"><img src="svg/social/instagram-1.svg" alt="" class="fn__svg"></a></li>
          <li><a href="#"><img src="svg/social/pinterest-1.svg" alt="" class="fn__svg"></a></li>
          <li><a href="#"><img src="svg/social/behance-1.svg" alt="" class="fn__svg"></a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<!-- !Left Navigation -->


<!-- Searchbox Popup -->
<div class="metaportal_fn_search_closer"></div>
<div class="metaportal_fn_searchbox">
  <div class="container small">
    <div class="searchbox">
      <input type="text" placeholder="Search here...">
      <a href="#">
        <img src="svg/loupe.svg" alt="" class="fn__svg">
      </a>
    </div>
  </div>
</div>
<!-- !Searchbox Popup -->

<!-- Wallet Popup -->
<div class="metaportal_fn_wallet_closer ready"></div>
<div class="metaportal_fn_walletbox ready">
  <a href="#" class="fn__closer"><span></span></a>
  <div class="walletbox">

    <div class="title_holder">
      <h3>Connect Wallet</h3>
      <p>Connect with one of our available wallet providers or create a new one.</p>
    </div>

    <div class="list_holder">
      <ul class="metaportal_fn_items">
        <li>
          <div class="item">
            <a href="#"></a>
            <span class="icon">
							<img src="img/wallet/metamask.png" alt="">
						</span>
            <span class="text">Metamask</span>
          </div>
        </li>
        <li>
          <div class="item">
            <a href="#"></a>
            <span class="icon">
							<img src="img/wallet/coinbase.png" alt="">
						</span>
            <span class="text">Coinbase</span>
          </div>
        </li>
        <li>
          <div class="item">
            <a href="#"></a>
            <span class="icon">
							<img src="img/wallet/walletconnect.png" alt="">
						</span>
            <span class="text">WalletConnect</span>
          </div>
        </li>
        <li>
          <div class="item">
            <a href="#"></a>
            <span class="icon">
							<img src="img/wallet/venly.png" alt="">
						</span>
            <span class="text">Venly</span>
          </div>
        </li>
      </ul>
    </div>

  </div>
</div>
<!-- !Wallet Popup -->

<!-- Main -->
<div class="metaportal_fn_main">

  <!-- Mobile Navigation -->
  <div class="metaportal_fn_mobnav">
    <div class="mob_top">
      <div class="social_trigger">
        <div class="trigger">
          <span></span>
        </div>
        <div class="social">
          <ul>
            <li><a href="https://www.facebook.com/" target="_blank">Fb.</a></li>
            <li><a href="https://www.twitter.com/" target="_blank">Tw.</a></li>
            <li><a href="https://www.instagram.com/" target="_blank">In.</a></li>
            <li><a href="https://www.linkedin.com/" target="_blank">Ln.</a></li>
          </ul>
        </div>
      </div>
      <div class="wallet">
        <a href="#" class="metaportal_fn_button wallet_opener"><span>Wallet</span></a>
      </div>
    </div>
    <div class="mob_mid">
      <div class="logo">
        <!-- <a href="index.html"><img src="img/logo.png" alt=""></a> -->
      </div>
      <div class="trigger">
        <span></span>
      </div>
    </div>
    <div class="mob_bot">
      <ul>
        <li><a class="creative_link" href="index.html#home">Home</a></li>
        <li><a class="creative_link" href="index.html#about">About</a></li>
        <li><a class="creative_link" href="index.html#collection">Collection</a></li>
        <li><a class="creative_link" href="index.html#news">Blog</a></li>
        <li><a class="creative_link" href="index.html#contact">Contact</a></li>
      </ul>
    </div>
  </div>
  <!-- !Mobile Navigation -->

  <!-- Header -->
  <header id="header">
    <div class="header">
      <div class="header_in">

        <div class="trigger_logo">
          <div class="trigger">
            <span></span>
          </div>
          <div class="logo">
            <!-- <a href="index.html"><img src="img/logo.png" alt=""></a> -->
          </div>
        </div>

        <div class="nav">
          <ul>
            <li><a class="creative_link" href="index.html#home">Home</a></li>
            <li><a class="creative_link" href="index.html#about">About</a></li>
            <li><a class="creative_link" href="index.html#collection">Collection</a></li>
            <li><a class="creative_link" href="index.html#news">Blog</a></li>
            <li><a class="creative_link" href="index.html#contact">Contact</a></li>
          </ul>
        </div>

        <div class="wallet">
          <a href="#" class="metaportal_fn_button wallet_opener"><span>Connect To Wallet</span></a>
        </div>

      </div>
    </div>
  </header>
  <!-- !Header -->

  <!-- Content -->
  <div class="metaportal_fn_content">

    <div class="metaportal_fn_pagetitle">

      <div class="container small">
        <div class="pagetitle">
          <h3 class="fn__maintitle big" data-text="Blog Articles" data-align="center">Blog Articles</h3>
          <p>
            <a href="index.html">Home</a>
            <span class="divider">/</span>
            <span class="text">Blog Articles</span>
          </p>
        </div>
      </div>
    </div>

    <!-- Section Divider -->
    <div class="fn_cs_section_divider">
      <div class="divider">
        <span class="short"></span>
        <span class="long"></span>
        <span class="short"></span>
      </div>
    </div>
    <!-- !Section Divider -->

    <div class="metaportal_fn_bloglist">
      <div class="container small">
        <div class="bloglist">
          <ul class="fn-isotope">
            <li class="isotope-item">
              <div class="blog__item">
                <div class="counter">
                  <span class="cc"><span>01</span></span>
                </div>
                <div class="meta">
                  <p>August 09, 2022  /  MetaVerse  /  4 Comments</p>
                </div>
                <div class="title">
                  <h3><a href="blog-single.html">Reasons Why People Use Discord</a></h3>
                </div>
                <div class="image">
                  <a href="blog-single.html">
                    <img src="img/blog/1.jpg" alt="">
                  </a>
                </div>
                <div class="read_more">
                  <a href="blog-single.html"><span>Read More</span></a>
                </div>
              </div>
            </li>
            <li class="isotope-item">
              <div class="blog__item">
                <div class="counter">
                  <span class="cc"><span>02</span></span>
                </div>
                <div class="meta">
                  <p>August 09, 2022  /  MetaVerse  /  4 Comments</p>
                </div>
                <div class="title">
                  <h3><a href="blog-single.html">Rewards for the Zoidster NFTs</a></h3>
                </div>
                <div class="image">
                  <a href="blog-single.html">
                    <img src="img/blog/2.jpg" alt="">
                  </a>
                </div>
                <div class="read_more">
                  <a href="blog-single.html"><span>Read More</span></a>
                </div>
              </div>
            </li>
            <li class="isotope-item">
              <div class="blog__item">
                <div class="counter">
                  <span class="cc"><span>03</span></span>
                </div>
                <div class="meta">
                  <p>August 09, 2022  /  MetaVerse  /  4 Comments</p>
                </div>
                <div class="title">
                  <h3><a href="blog-single.html">A Behind-the-Scenes Look: How the BRAWL-O-SEUM NFT Was Created</a></h3>
                </div>
                <div class="image">
                  <a href="blog-single.html">
                    <img src="img/blog/3.jpg" alt="">
                  </a>
                </div>
                <div class="read_more">
                  <a href="blog-single.html"><span>Read More</span></a>
                </div>
              </div>
            </li>
            <li class="isotope-item">
              <div class="blog__item">
                <div class="counter">
                  <span class="cc"><span>04</span></span>
                </div>
                <div class="meta">
                  <p>August 09, 2022  /  MetaVerse  /  4 Comments</p>
                </div>
                <div class="title">
                  <h3><a href="blog-single.html">Land Redemption Day is coming!</a></h3>
                </div>
                <div class="image">
                  <a href="blog-single.html">
                    <img src="img/blog/4.jpg" alt="">
                  </a>
                </div>
                <div class="read_more">
                  <a href="blog-single.html"><span>Read More</span></a>
                </div>
              </div>
            </li>
          </ul>
        </div>

        <div class="metaportal_fn_pagination">
          <ul>
            <li>
              <span>1</span>
            </li>
            <li>
              <a href="#">2</a>
            </li>
            <li>
              <a href="#">3</a>
            </li>
            <li>
              <span>...</span>
            </li>
            <li>
              <a href="#">77</a>
            </li>
          </ul>
        </div>

      </div>
    </div>


    <!-- Footer -->
    <footer id="footer">
      <div class="container">
        <div class="footer">
          <div class="left_part">
            <p>Copyright 2022 — Designed &amp; Developed by <a href="https://themeforest.net/user/frenify/portfolio" target="_blank">Frenify</a></p>
          </div>
          <div class="right_part">
            <ul>
              <li><a class="creative_link" href="privacy-policy.html">Privacy Policy</a></li>
              <li><a class="creative_link" href="cookies.html">Cookies</a></li>
              <li><a class="creative_link" href="terms-conditions.html">Terms &amp; Conditions</a></li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
    <!-- !Footer -->

  </div>
  <!-- !Content -->


  <!-- Social -->
  <div id="social">
    <div class="social">
      <h4 class="title">Follow Us:</h4>
      <ul>
        <li><a href="https://www.facebook.com/" target="_blank">Fb.</a></li>
        <li><a href="https://www.twitter.com/" target="_blank">Tw.</a></li>
        <li><a href="https://www.instagram.com/" target="_blank">In.</a></li>
        <li><a href="https://www.linkedin.com/" target="_blank">Ln.</a></li>
      </ul>
    </div>
  </div>
  <!-- !Social -->


  <!-- Totop -->
  <a href="#" class="metaportal_fn_totop">
		<span class="totop_inner">
			<span class="icon">
				<img src="svg/down.svg" alt="" class="fn__svg">
			</span>
			<span class="text">Scroll To Top</span>
		</span>
  </a>
  <!-- /Totop -->

  <!-- Search Button -->
  <a href="#" class="metaportal_fn_search">
		<span class="icon">
			<img src="svg/loupe.svg" alt="" class="fn__svg">
		</span>
  </a>
  <!-- !Search Button -->


</div>

<!--oldversion-->
<!--<app-header></app-header>-->

<div class="digital-art-sec">
	<section class="blog-container">
		<div class="container">
			<h3 class="page-title">Blogs</h3>
			<div class="row" *ngIf="blogs.length">
				<div class="col-md-6 col-lg-4" *ngFor="let blog of blogs">
					<a class="blog-cnt" (click)="myFunc(blog.blogId)">
						<img src="{{ blog.image ? blog.image : 'assets/images/blog-1.png' }}">
						<div class="text-cnt">
							<h3>{{ blog.title }}</h3>
							<p>{{ blog.date | date: 'medium' }}</p>
							<p class="content" [innerHTML]="blog.content"></p>
						</div>
					</a>
				</div>
			</div>
			<button class="btn default-btn mt-4" (click)="loadmore(skip)" *ngIf="blogs.length > 5">Load more</button>
		</div>
	</section>
</div>
<!--<app-footer></app-footer>-->
