<div class="all-center" *ngIf="isIpBlocked">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1 class="font-big m-0">
                    Your IP Was Blocked
                </h1>
            </div>
            <div class="col-12">
                <h4 class="pt-3">Oops! You're lost.</h4>

            </div>
            <div class="col-12">
                <p class="text-muted">Further details contact admin.</p>
            </div>

        </div>
    </div>
</div>