<div class="tabpages-cnt farm-block">
    <h3 class="section-title">Farming</h3>
    <p class="text-center font-20 fontweight-400">Liquidity providers earn a 0.0% fee on all traders proportional to their share of the pool {{dataService.projectDetails.tokenName}}.</p>

    <div class="row mt-5">
        <!-- <div class="col-md-6 col-sm-12 col-xl-3 col-lg-6 mb-2">

            <div class="input-group align-items-baseline mb-2">
                <p class="mr-3 text-black font-weight-bold font-18">Sort By </p>
                <div class="input-group-append rounded   w-50 box-shadow1   h-43">
                    <select class="rounded border-0 w-100">
                        <option>Hot</option>
                        <option>Hot</option>
                        <option>Hot</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="col-md-6 col-sm-12 col-xl-3 col-lg-6 mb-2">
            <div class="d-flex align-items-center">
                <p class="text-black font-weight-bold font-18">Search </p>
                <div class="form-group ml-3 ">
                    <input type="text" class="form-control radius8 box-shadow1 border-0 input-sec h-43 font-16 fontweight-400" placeholder="Search">
                </div>
            </div>
        </div> -->

        <div class="col-md-6 col-sm-12 col-xl-3 col-lg-6 mb-2 text-xl-right toggle">
            <label class="switch"> 
                <input type="checkbox" id="switch1" [(ngModel)]="isStakedOnly"
                    name="isStakedOnly" (ngModelChange)="filter('stakedOnly')">
                <span class="slider round"></span>
            </label><label class="text-black font-18 pl-2 pt-1 fontweight-400 align-top" for="switch1">Staked Only</label>
        </div>

        <!-- <div class="col-md-6 col-sm-12 col-xl-3 col-lg-6 mb-2 farm-tabs">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Active</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">In Active</a>
                </li>

            </ul>
        </div> -->
    </div>
    <div class="tab-content" *ngIf="isgetPolledPairsLoading">Loading...</div>
    <div *ngIf="!isSingleStake && !isgetPolledPairsLoading" class="tab-content " id="myTabContent">
        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
            <div class="row mt-4" *ngIf="stakingPairs.length == 0 && !isgetPolledPairsLoading">
                <div class="col-xl-12 col-lg-12 col-md-12 col-12 text-center font-weight-bold ">
                    Not to yet Poll Id Created to Farm
                </div>
            </div>
            <div *ngIf="stackedLength == 0 && isStakedOnly" class="col-xl-12 col-lg-12 col-md-12 col-12 text-center font-weight-bold ">
                No staked Pair Found
            </div>
            <div class="row mt-4" *ngIf="!isgetPolledPairsLoading && stakingPairs.length != 0">
                <div class="col-lg-6 col-sm-12 col-xl-4 col-md-12" *ngFor="let stakingPairObj of stakingPairs; let stakingPairObjInex=index" [hidden]="!stakingPairObj.staked_staus && isStakedOnly">
                    <div class="card grey-cnt stake-cnt">
                        <div class="card-body">
                            <p class="text-black font-20 fontweight-700 mb-3">{{stakingPairObj.fromCurrency}} - {{stakingPairObj.toCurrency}}</p>
                            <div class="d-sm-flex justify-content-between mb-4">
                                <div class="d-flex align-items-start mb-2">
                                    <img src="assets/images/eth-icon.png" class="img-fluid mr-2">
                                    <img src="assets/images/bnb-icon.png" class="img-fluid">
                                </div>
                                <!-- <div class="d-flex align-items-center">
                                    <button class="btn default-btn min-width-auto font-14 px-2 py-1 mr-1"><img src ="assets/images/farm1.png" > Core </button>
                                    <p class="bg-white font-14 font-weight-bold p-2 mb-0">40x</p>
                                </div> -->
                            </div>
                            <div class="d-flex justify-content-between">
                                <p class="text-black font-14 fontweight-400">APR: </p>
                                <p class="text-black font-14 fontweight-400">{{stakingPairObj.aprPercentage ? stakingPairObj.aprPercentage : '0'}}%
                                </p>
                            </div>
                            <!-- <div class="d-flex justify-content-between">
                                <p class="text-black font-14 fontweight-400">124.50% </p>
                                <p class="text-black font-14 fontweight-400">0.0000
                                </p>
                            </div> -->
                            <div class="d-flex justify-content-between mt-3 align-items-center">
                                <p class="text-black font-14 fontweight-400">{{dataService.projectDetails.tokenName}} Earned <br>{{stakingPairObj.reward_amount ? stakingPairObj.reward_amount : '0' | number:'1.4-4'}} </p>
                                <button (click)="stake(stakingPairObj)" [disabled]="!stakingPairObj.isClaimAvailable" class="btn bg-white  min-width-auto font-14 px-2 py-1 ">Harvest </button>
                            </div>
                            <p class="text-left font-16 mt-3 font-weight-bold">Total Earned</p>
                            <div class="d-flex justify-content-between">
                                <p class="text-black font-14 fontweight-400">Deposit </p>
                                <p class="text-black font-14 font-weight-bold">{{stakingPairObj.fromCurrency}} - {{stakingPairObj.toCurrency}}
                                </p>
                            </div>
                            <div class="d-flex justify-content-between">
                                <p class="text-black font-14 fontweight-400">Total Liquidity </p>
                                <p class="text-black font-14 font-weight-bold">{{stakingPairObj.totalLiqudity ? stakingPairObj.totalLiqudity : '0' | number:'1.4-4'}}
                                </p>
                            </div>
                            <a routerLink="" target="_blank" class="fontweight-400 text-black text-underline" (click)="dataService.openBscScan(master_stake_address)">View on Scan</a>
                            <div class="w-100 mt-3">
                                <button class="btn default-btn btn-block font-16" [disabled]="!stakingPairObj.isStakeAvailable && dataService.metaDeatails.isMetaLogin" (click)="stake(stakingPairObj)">
                                    <div *ngIf="!dataService.metaDeatails.isMetaLogin">Unlock Wallet</div>
                                    <div *ngIf="dataService.metaDeatails.isMetaLogin">Approve</div>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
            <div class="row mt-4" *ngIf="stakingPairs.length == 0 && !isgetPolledPairsLoading">
                <div class="col-xl-12 col-lg-12 col-md-12 col-12 text-center font-weight-bold ">
                    Not to yet Poll Id Created to Farm
                </div>
            </div>
            <div class="row mt-4" *ngIf="!isgetPolledPairsLoading && stakingPairs.length != 0">
                <div class="col-lg-6 col-sm-12 col-xl-4 col-md-12" *ngFor="let stakingPairObj of stakingPairs; let stakingPairObjInex=index">
                    <div class="card grey-cnt stake-cnt">
                        <div class="card-body">
                            <p class="text-black font-20 fontweight-700 mb-3">{{stakingPairObj.fromCurrency}} - {{stakingPairObj.toCurrency}}</p>
                            <div class="d-sm-flex justify-content-between mb-4">
                                <div class="d-flex align-items-start mb-2">
                                    <img src="assets/images/eth-icon.png" class="img-fluid mr-2">
                                    <img src="assets/images/bnb-icon.png" class="img-fluid">
                                </div>
                                <div class="d-flex align-items-center">
                                    <button class="btn default-btn min-width-auto font-14 px-2 py-1 mr-1"><img src ="assets/images/farm1.png" > Core </button>
                                    <p class="bg-white font-14 font-weight-bold p-2 mb-0">40x</p>
                                </div>
                            </div>
                            <div class="d-flex justify-content-between">
                                <p class="text-black font-14 fontweight-400">APR: </p>
                                <p class="text-black font-14 fontweight-400">{{stakingPairObj.aprPercentage ? stakingPairObj.aprPercentage : '0'}}%
                                </p>
                            </div>
                            <!-- <div class="d-flex justify-content-between">
                                <p class="text-black font-14 fontweight-400">124.50% </p>
                                <p class="text-black font-14 fontweight-400">0.0000
                                </p>
                            </div> -->
                            <div class="d-flex justify-content-between mt-3 align-items-center">
                                <p class="text-black font-14 fontweight-400">{{dataService.projectDetails.tokenName}} Earned <br>{{stakingPairObj.reward_amount ? stakingPairObj.reward_amount : '0' | number:'1.4-4'}} </p>
                                <button (click)="stake(stakingPairObj)" [disabled]="!stakingPairObj.isClaimAvailable" class="btn bg-white  min-width-auto font-14 px-2 py-1 ">Harvest </button>
                            </div>
                            <p class="text-left font-16 mt-3 font-weight-bold">Total Earned</p>
                            <div class="d-flex justify-content-between">
                                <p class="text-black font-14 fontweight-400">Deposit </p>
                                <p class="text-black font-14 font-weight-bold">{{stakingPairObj.fromCurrency}} - {{stakingPairObj.toCurrency}}
                                </p>
                            </div>
                            <div class="d-flex justify-content-between">
                                <p class="text-black font-14 fontweight-400">Total Liquidity </p>
                                <p class="text-black font-14 font-weight-bold">{{stakingPairObj.totalLiqudity ? stakingPairObj.totalLiqudity : '0' | number:'1.4-4'}}
                                </p>
                            </div>
                            <a routerLink="" target="_blank" class="fontweight-400 text-black text-underline" (click)="dataService.openBscScan(master_stake_address)">View on Scan</a>
                            <div class="w-100 mt-3">
                                <button class="btn default-btn btn-block font-16" [disabled]="!stakingPairObj.isStakeAvailable && dataService.metaDeatails.isMetaLogin" (click)="stake(stakingPairObj)">
                                    <div *ngIf="!dataService.metaDeatails.isMetaLogin">Unlock Wallet</div>
                                    <div *ngIf="dataService.metaDeatails.isMetaLogin">Approve</div>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-staking2 *ngIf="isSingleStake" (goBack)="getBack()" [stakingPair]="stakingPairSingleObj"></app-staking2>
 