<mat-card class="table-container" *ngIf="!isGetSingleDataLoading">

    <div class="d-flex align-items-center mb-4 page-header">

        <span>
            Password Settings
        </span>

        <div class="spacer"></div>

        <div class="group-button">
            <button type="submit" [disabled]="isDataPassing" mat-button color="accent" (click)="formSubmit()">
                <mat-icon *ngIf="!isDataPassing">
                    fact_check
                </mat-icon>

                <ng-container *ngIf="!isDataPassing">
                    Update Settings
                </ng-container>

                <ng-container *ngIf="isDataPassing">
                    Please Wait <span> ... </span>
                </ng-container>
            </button>
        </div>
    </div>


    <ng-container>
        <form #editForm="ngForm">


            <div class="row">
                <div class="col-md-4">

                    <mat-form-field appearance="outline">
                        <mat-label>Current Password</mat-label>
                        <input [type]="hideCurrent ? 'password' : 'text'" matInput placeholder="Current Password"
                            name="currentpwd" autocomplete="off" [(ngModel)]="editObj.currentpwd" #currentpwd="ngModel"
                            required (keypress)="general.removingSpaceFirst($event, editObj.currentpwd)" />

                        <a mat-icon-button matSuffix (click)="hideCurrent = !hideCurrent" color="primary"
                            class="decoration-none">
                            <mat-icon>{{
                                    hideCurrent ? "visibility_off" : "visibility"
                                }}</mat-icon>
                        </a>

                        <mat-error *ngIf="currentpwd.errors">
                            {{ general.checkError(currentpwd, "Current Password") }}
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>New Password</mat-label>
                        <input [type]="hide ? 'password' : 'text'" matInput placeholder="New Password" name="newpwd"
                            autocomplete="off" [(ngModel)]="editObj.newpwd" #newpwd="ngModel" required
                            [pattern]="general.passwordPattern" (keypress)="general.removingSpace($event)"
                            [maxlength]="general.passwordLength" (ngModelChange)="passwordCheck()" />

                        <a mat-icon-button matSuffix (click)="hide = !hide" color="primary" class="decoration-none">
                            <mat-icon>{{
                                  hide ? "visibility_off" : "visibility"
                                }}</mat-icon>
                        </a>

                        <mat-error *ngIf="newpwd.errors">
                            {{ general.checkError(newpwd, "New Password" , "password") }}
                        </mat-error>
                    </mat-form-field>

                    <div class="mt-2">
                        <mat-form-field appearance="outline">
                            <mat-label>Confirm Password</mat-label>
                            <input matInput type="password" id="password" placeholder="Confirm Password"
                                [(ngModel)]="editObj.confirmpwd" name="confirmpwd" #confirmpwd="ngModel"
                                autocomplete="off" [type]="hide ? 'password' : 'text'"
                                [errorStateMatcher]="isConfirmPassword" required
                                (keypress)="general.removingSpace($event)" (focusout)="passwordCheck()"
                                (ngModelChange)="passwordCheck()" [maxlength]="general.passwordLength" />



                            <mat-error *ngIf="!confirmpwd.errors && isConfirmPasswordError">
                                Password Mis match
                            </mat-error>

                            <mat-error *ngIf="confirmpwd.errors">
                                {{
                                general.checkError(
                                    confirmpwd,
                                  "Confirm Password",
                                  "password"
                                )
                              }}
                            </mat-error>
                        </mat-form-field>
                    </div>




                </div>


            </div>


        </form>
    </ng-container>
</mat-card>


<ng-container *ngIf="isGetSingleDataLoading ">
    <div class="d-flex justify-content-center padding">
        <mat-spinner [diameter]="20" color="primary"></mat-spinner>
    </div>
</ng-container>