
/* Header */
.header{
  background: rgb(27,18,29);
  background: -moz-linear-gradient(90deg, rgba(27,18,29,1) 0%, rgba(18,15,47,1) 50%, rgba(27,18,29,1) 100%);
  background: -webkit-linear-gradient(90deg, rgba(27,18,29,1) 0%, rgba(18,15,47,1) 50%, rgba(27,18,29,1) 100%);
  background: linear-gradient(90deg, rgba(27,18,29,1) 0%, rgba(18,15,47,1) 50%, rgba(27,18,29,1) 100%);
  padding: 15px;
  position:fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 25;
  transition: all .3s ease;
  border-bottom: 1px solid transparent;
  /*background-color: red;*/
}
.header.active{
  z-index: 60;
  padding: 20px 30px;
  background: rgb(27,18,29);
  background: -moz-linear-gradient(90deg, rgba(27,18,29,1) 0%, rgba(18,15,47,1) 50%, rgba(27,18,29,1) 100%);
  background: -webkit-linear-gradient(90deg, rgba(27,18,29,1) 0%, rgba(18,15,47,1) 50%, rgba(27,18,29,1) 100%);
  background: linear-gradient(90deg, rgba(27,18,29,1) 0%, rgba(18,15,47,1) 50%, rgba(27,18,29,1) 100%);
  border-bottom-color: rgba(255,255,255,.08);
}
.header .header_in{
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between;
  -ms-align-items: center;
  align-items: center;
}
.header .top-nav{
  opacity: 0px;
}
.header .top-nav ul{

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.header .trigger_logo{
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -ms-align-items: center;
  align-items: center;
}
.header .trigger{
  margin-right: 20px;
}
.trigger{
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  background-color: #000;
  z-index: 5;
  color: #bbb;
  position: relative;
  cursor: pointer;
}
.trigger :after{

  content: '';
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  /*color: var(--mc1);*/
  color: black;

  opacity: .15;
  border-radius: 100%;
  box-shadow: 0px 5px 20px;
  transition: all .3s ease;
}
.trigger.active:after,
.trigger:hover:after{
  opacity: .5;
}
.trigger.active span{
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.trigger.active span:before{
  bottom: 0;
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
}
.trigger.active span:after{
  width: 0;
  transition: none;
}
.trigger span:before,
.trigger span:after,
.trigger span{
  display: block;
  height: 2px;
  position: absolute;
  background-color: #bbb;
  content: '';
  transition: all .3s ease;
}
.trigger span{
  top: 24px;
  width: 24px;
  left: 13px;
}
.trigger span:before{
  bottom: 6px;
  width: 24px;
  left: 0;
}
.trigger span:after{
  top: 6px;
  width: 16px;
  left: 0;
}


.creative_link{
  background-image: -moz-linear-gradient(90deg, var(--mc1), var(--mc1) 50%, #ddd 50%);
  background-image: -webkit-linear-gradient(90deg, var(--mc1), var(--mc1) 50%, #ddd 50%);
  background-image: linear-gradient(to right, var(--mc1), var(--mc1) 50%, #ddd 50%);
  background-size: 200% 100%;
  background-position: -100%;
  display: inline-block;
  position: relative;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.3s ease-in-out;
}
.creative_link:before{
  content: "";
  background: var(--mc1);
  display: block;
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 2px;
  transition: all 0.3s ease-in-out;
}
.creative_link:hover {
  background-position: 0;
}
.creative_link:hover:before {
  width: 100%;
}
/*Main Button*/
.metaportal_fn_protected input[type="submit"],
.metaportal_fn_button{
  display: block;
  width: fit-content;
  max-width: 100%;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: .5px;
  font-family: var(--hff);
  height: 50px;
  line-height: 50px;
  padding: 0 34px;
  position: relative;
  color: var(--hc);
  text-transform: uppercase;
  text-align: center;
  white-space: nowrap;
  background-color: transparent;
  outline: none;
  outline-color: transparent;
}
.metaportal_fn_button span{
  position: relative;
  z-index: 5;
}
.metaportal_fn_protected .submit{
  display: block;
  position: relative;
}
.metaportal_fn_protected .submit input{
  width: 100%;
  z-index: 5;
}
.metaportal_fn_button.full{
  width: 100%;
  height: 80px;
  line-height: 80px;
}
.metaportal_fn_protected .submit:hover:after,
.metaportal_fn_button:hover:after{
  animation-duration: 2s;
}
.metaportal_fn_protected .submit:hover,
.metaportal_fn_button:hover{
  color: #fff;
}
.metaportal_fn_protected .submit:after,
.metaportal_fn_button:after{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 6px;
  border: 3px solid transparent;
  background: -moz-linear-gradient(45deg,var(--mc1),var(--mc2),var(--mc1),var(--mc2)) border-box;
  background: -webkit-linear-gradient(45deg,var(--mc1),var(--mc2),var(--mc1),var(--mc2)) border-box;
  background: linear-gradient(45deg,var(--mc1),var(--mc2),var(--mc1),var(--mc2)) border-box;
  -webkit-mask:
    linear-gradient(#fff 0 0) padding-box,
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: destination-out;
  mask-composite: exclude;
  background-size: 300% 300%;
  -webkit-animation: animatedgradient 4s ease alternate infinite;
  animation: animatedgradient 4s ease alternate infinite;
}
.metaportal_fn_protected .submit:before,
.metaportal_fn_button:before{
  right: 0;
  bottom: 0;
  top: 0;
  left: 0;
  position: absolute;
  color: var(--mc1);
  content: '';
  opacity: .15;
  border-radius: 6px;
  box-shadow: 0px 5px 20px;
}

/*wallet*/

.metaportal_fn_wallet_closer.ready,
.metaportal_fn_walletbox.ready{
  display: none;
}
.metaportal_fn_wallet_closer{
  position: fixed;
  z-index: 999;
  left: 0;
  bottom: 0;
  top: 0;
  right: 0;
  background-color: rgba(0,0,0,0.8);
  transition: all .5s ease;
  cursor: pointer;
  transform: translateX(-102%);
}
.metaportal_fn_wallet_closer.active{
  transform: translateX(0);
}
.metaportal_fn_walletbox{
  transform: translateX(102%);
  width: 400px;
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: #130f15;
  z-index: 9999;
  padding: 100px 40px;
  transition: all .5s ease;
  overflow-y: auto;
}
.metaportal_fn_walletbox{
  scrollbar-width: thin;
  scrollbar-color: #999 #fff;
}
.metaportal_fn_walletbox::-webkit-scrollbar{
  width: 4px;
}
.metaportal_fn_walletbox:-webkit-scrollbar-track{
  background: #444;
}
.metaportal_fn_walletbox::-webkit-scrollbar-thumb{
  background-color: var(--mc1);
}
.metaportal_fn_walletbox.active{
  transform: translateX(0);
}
.metaportal_fn_walletbox .walletbox{
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
  justify-content: center;
}
.metaportal_fn_walletbox .title_holder{
  text-align: center;
  margin-bottom: 23px;
}
.metaportal_fn_walletbox .title_holder h3{
  margin: 0;
  font-size: 22px;
  letter-spacing: .5px;
  text-transform: uppercase;
  margin-bottom: 18px;
}
.metaportal_fn_walletbox .title_holder p{
  margin: 0;
  font-size: 16px;
  letter-spacing: 0px;
  line-height: 1.5;
  color: #888;
}
.metaportal_fn_items{
  margin: 0;
  list-style-type: none;
}
.metaportal_fn_items li{
  margin-bottom: 20px;
}
.metaportal_fn_items li:last-child{
  margin-bottom: 0;
}
.metaportal_fn_items .item{
  width: 200px;
  max-width: 100%;
  margin: 0 auto;
  padding: 23px 23px 17px;
  background-color: #130f15;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -ms-align-items: center;
  align-items: center;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
  position: relative;
}
.metaportal_fn_items .item:hover:after{
  animation-duration: 2s;
}
.metaportal_fn_items .item:hover .icon:after{
  opacity: .5;
}
.metaportal_fn_items a{
  position: absolute;
  display: block;
  text-decoration: none;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 15;
}
.metaportal_fn_items .item:before{
  right: 0;
  bottom: 0;
  top: 0;
  left: 0;
  position: absolute;
  color: var(--mc1);
  content: '';
  opacity: .15;
  border-radius: 5px;
  box-shadow: 0px 5px 20px;
}
.metaportal_fn_items .item:after{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 5px;
  border: 3px solid transparent;
  background: -moz-linear-gradient(45deg,var(--mc1),var(--mc2),var(--mc1),var(--mc2)) border-box;
  background: -webkit-linear-gradient(45deg,var(--mc1),var(--mc2),var(--mc1),var(--mc2)) border-box;
  background: linear-gradient(45deg,var(--mc1),var(--mc2),var(--mc1),var(--mc2)) border-box;
  -webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: destination-out;
  mask-composite: exclude;
  background-size: 300% 300%;
  -webkit-animation: animatedgradient 4s ease alternate infinite;
  animation: animatedgradient 4s ease alternate infinite;
}
.metaportal_fn_items .icon{
  width: 50px;
  height: 50px;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -ms-align-items: center;
  align-items: center;
  justify-content: center;
  background-color: #000;
  border-radius: 100%;
  position: relative;
  margin-bottom: 9px;
}
.metaportal_fn_items .icon img{
  z-index: 5;
  position: relative;
}
.metaportal_fn_items .fn__svg{
  width: 22px;
  height: 22px;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -11px 0 0 -11px;
}
.metaportal_fn_items .icon:after{
  content: '';
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  color: var(--mc1);
  opacity: .15;
  left: 0;
  top: 0;
  border-radius: 100%;
  box-shadow: 0px 5px 20px;
  transition: all .3s ease;
}
.metaportal_fn_items .text{
  font-size: 16px;
  font-family: var(--hff);
  letter-spacing: .5px;
  text-transform: uppercase;
  color: var(--hc);
}



.creative_link{
  background-image: -moz-linear-gradient(90deg, var(--mc1), var(--mc1) 50%, #ddd 50%);
  background-image: -webkit-linear-gradient(90deg, var(--mc1), var(--mc1) 50%, #ddd 50%);
  background-image: linear-gradient(to right, var(--mc1), var(--mc1) 50%, #ddd 50%);
  background-size: 200% 100%;
  background-position: -100%;
  display: inline-block;
  position: relative;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.3s ease-in-out;
}
.creative_link:before{
  content: "";
  background: var(--mc1);
  display: block;
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 2px;
  transition: all 0.3s ease-in-out;
}
.creative_link:hover {
  background-position: 0;
}
.creative_link:hover:before {
  width: 100%;
}


.fn__closer{
  display: none;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  background-color: #000;
  z-index: 5;
  color: #bbb;
  position: fixed;
  right: 40px;
  top: 40px;
  cursor: pointer;
  text-decoration: none;
}
.fn__closer:after{
  content: '';
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  color: var(--mc1);
  opacity: .15;
  border-radius: 100%;
  box-shadow: 0px 5px 20px;
  transition: all .3s ease;
}
.fn__closer:hover:after{
  opacity: .5;
}
.fn__closer span:after{
  display: block;
  height: 2px;
  position: absolute;
  background-color: #bbb;
  content: '';
  width: 24px;
  transform: rotate(45deg);
  left: 13px;
  top: 24px;
}
.fn__closer span:before{
  display: block;
  height: 2px;
  position: absolute;
  background-color: #bbb;
  content: '';
  width: 24px;
  transform: rotate(-45deg);
  left: 13px;
  top: 24px;
}


/*modals*/

.ModalRight{
  position: fixed;
  right: 0px;
  top: 0px;
  width: 400px;
  bottom: 0px;

  background: rgb(27,18,29);
  background: -moz-linear-gradient(90deg, rgba(27,18,29,1) 0%, rgba(18,15,47,1) 50%, rgba(27,18,29,1) 100%);
  background: -webkit-linear-gradient(90deg, rgba(27,18,29,1) 0%, rgba(18,15,47,1) 50%, rgba(27,18,29,1) 100%);
  background: linear-gradient(90deg, rgba(27,18,29,1) 0%, rgba(18,15,47,1) 50%, rgba(27,18,29,1) 100%);
  z-index: 999;
}
.ModalBody{
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
justify-content: space-around;
}
.ModalBody div{
  width: 150px !important;
  height:150px !important;
}

.ModalBody h3{
  font-size: 22px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  margin-bottom: 18px;

}
.ModalBody p{
  margin: 0;
  font-size: 16px;
  letter-spacing: 0px;
  line-height: 1.5;
  color: #888;
  text-align: center;
}
.metaportal_fn_items li .item .text{
  width: 100%;
  font-weight: bold;
  text-align: center;
  font-size: 12px;
  border: solid 1px red;
}
.ModalLeft{
  position: fixed;
  left: 0px;
  top: 0px;
  width: 350px;
  padding: 10px;
  bottom: 0px;

  background: rgb(27,18,29);
  background: -moz-linear-gradient(90deg, rgba(27,18,29,1) 0%, rgba(18,15,47,1) 50%, rgba(27,18,29,1) 100%);
  background: -webkit-linear-gradient(90deg, rgba(27,18,29,1) 0%, rgba(18,15,47,1) 50%, rgba(27,18,29,1) 100%);
  background: linear-gradient(90deg, rgba(27,18,29,1) 0%, rgba(18,15,47,1) 50%, rgba(27,18,29,1) 100%);
  z-index: 998;
}
