<div class="d-flex  mb-4 page-header">
    <ul class="bread-crump_container">
        <li>
            <a [routerLink]="['dashboard' | appRouter]"> Home</a>
        </li>
        <li>Lottery Contest List</li>
    </ul>

    <div class="spacer"></div>


    <div class="group-button" *ngIf="isShowCreateContest">
        <button type="button" (click)="reset()" mat-button color="primary">
            <mat-icon>add</mat-icon>
            Create Contest
        </button>
    </div>

</div>


<app-list-table [tableData]="tableData"></app-list-table>