<app-inner-header></app-inner-header>
<div class="digital-art-sec">
    <div class="middle-section">
        <div class="container tabpages-cnt">
            <div class="row">
                <div class="col-md-7 col-sm-12 col-xl-10 col-lg-7">
                    <h3 class="section-title text-left">Top Collectors</h3>
                </div>
                <div class="col-md-5 col-sm-12 col-xl-2 col-lg-5">
                    <div class="input-group w-100 mb-2">
                        <div class="input-group-append w-100  h-43">
                            <select class="rounded w-100">
                                <option>30 Days</option>
                                <option>30 Days</option>
                                <option>30 Days</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row collection-block mt-4">
                <div class="table-responsive collectors-table">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Collect</th>
                                <th scope="col">Work Collected</th>
                                <th scope="col">Worked owned</th>
                                <th scope="col">Avg purchease Price</th>
                                <th scope="col">Total Purches </th>
                                <th scope="col">Biggest Purchase</th>
                                <th scope="col">Works Resold</th>
                                <th scope="col">Avg Resales Price</th>
                                <th scope="col">Total Resales</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row"><img src="assets/images/top1.png" class="pr-2"> @mrmisang </th>
                                <td>20</td>
                                <td>20</td>
                                <td>$ 4,132</td>
                                <td>$ 80,706</td>
                                <td>$ 15,0239</td>
                                <td>0</td>
                                <td>-</td>
                                <td>$1</td>
                            </tr>
                            <tr>
                                <th scope="row"><img src="assets/images/top2.png" class="pr-2"> @mrmisang </th>
                                <td>20</td>
                                <td>20</td>
                                <td>$ 4,132</td>
                                <td>$ 80,706</td>
                                <td>$ 15,0239</td>
                                <td>0</td>
                                <td>-</td>
                                <td>$1</td>
                            </tr>
                            <tr>
                                <th scope="row"><img src="assets/images/top3.png" class="pr-2"> @mrmisang </th>
                                <td>20</td>
                                <td>20</td>
                                <td>$ 4,132</td>
                                <td>$ 80,706</td>
                                <td>$ 15,0239</td>
                                <td>0</td>
                                <td>-</td>
                                <td>$1</td>
                            </tr>
                            <tr>
                                <th scope="row"><img src="assets/images/top4.png" class="pr-2"> @mrmisang </th>
                                <td>20</td>
                                <td>20</td>
                                <td>$ 4,132</td>
                                <td>$ 80,706</td>
                                <td>$ 15,0239</td>
                                <td>0</td>
                                <td>-</td>
                                <td>$1</td>
                            </tr>
                            <tr>
                                <th scope="row"><img src="assets/images/top5.png" class="pr-2"> @mrmisang </th>
                                <td>20</td>
                                <td>20</td>
                                <td>$ 4,132</td>
                                <td>$ 80,706</td>
                                <td>$ 15,0239</td>
                                <td>0</td>
                                <td>-</td>
                                <td>$1</td>
                            </tr>
                            <tr>
                                <th scope="row"><img src="assets/images/top6.png" class="pr-2"> @mrmisang </th>
                                <td>20</td>
                                <td>20</td>
                                <td>$ 4,132</td>
                                <td>$ 80,706</td>
                                <td>$ 15,0239</td>
                                <td>0</td>
                                <td>-</td>
                                <td>$1</td>
                            </tr>
                            <tr>
                                <th scope="row"><img src="assets/images/top3.png" class="pr-2"> @mrmisang </th>
                                <td>20</td>
                                <td>20</td>
                                <td>$ 4,132</td>
                                <td>$ 80,706</td>
                                <td>$ 15,0239</td>
                                <td>0</td>
                                <td>-</td>
                                <td>$1</td>
                            </tr>
                            <tr>
                                <th scope="row"><img src="assets/images/top4.png" class="pr-2"> @mrmisang </th>
                                <td>20</td>
                                <td>20</td>
                                <td>$ 4,132</td>
                                <td>$ 80,706</td>
                                <td>$ 15,0239</td>
                                <td>0</td>
                                <td>-</td>
                                <td>$1</td>
                            </tr>
                            <tr>
                                <th scope="row"><img src="assets/images/top5.png" class="pr-2"> @mrmisang </th>
                                <td>20</td>
                                <td>20</td>
                                <td>$ 4,132</td>
                                <td>$ 80,706</td>
                                <td>$ 15,0239</td>
                                <td>0</td>
                                <td>-</td>
                                <td>$1</td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<app-inner-footer></app-inner-footer>

<!-- Createcollection  Modal -->
<div class="modal fade modalPrimary md creat-collection" id="Bidapp">
    <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content">
        <div class="modal-header border-bottom-0 d-block">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <!-- <h3 class="modal-title section-title mb-0 w-100 text-center"> Create a Your Collection </h3>
            <h5 class="font-20 text-center font-weight-bold text-black">@peter123</h5> -->
        </div>
        <div class="modal-body">
            <div class="row justify-content-center align-items-start">
                <div class="col-md-12 col-sm-12 col-lg-12 col-xl-12">
                    <div class="blog-sec-cnt">
                        <div class="d-lg-flex align-items-center">
                            <img src="assets/images/app1.png" class="img-fluid mr-3">
                            <div class="text-left">
                                <p class="font-16 fontweight-500 text-black mt-2 mb-4">Bids placed during an auction cannot be withdrawn. By placing a bid you indicate that you have read and agree to the Auction Terms of Use</p>
                                <p class="font-16 fontweight-500 text-black mb-2">Current Bid</p>
                                <p class="font-28 font-weight-bold text-black mb-0">0.1 ETH (~$242)</p>
                            </div>
                        </div>
                        <h5 class="font-16 fontweight-500 mt-4 text-black mb-2">OLIVER CROMWELL - AI "AFTER</h5>
                        <div class="row tabpages-cnt p-0 w-auto">
                            <div class="col-md-6 col-sm-6 col-xl-4 col-lg-6 mt-3">
                                <div class="card grey-cnt text-center">
                                    <div class="card-body">
                                        <p>Total Bit Amount</p>
                                        <h3 class="font-16 fontweight-500">0 BNB</h3>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xl-4 col-lg-6 mt-3">
                                <div class="card grey-cnt text-center">
                                    <div class="card-body">
                                        <p>Your Balance</p>
                                        <h3 class="font-16 fontweight-500">0 BNB</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group mt-3 ">
                            <div class="d-flex justify-content-between bid-block">
                                <label class="mb-0 pb-0 font-18 font-weight-bold text-black mb-2" for="yourName">You must bid at least </label>
                                <label class="mb-0 pb-0 font-18 font-weight-bold text-black mb-2" for="yourName">0.11 BNB (~$266) </label>
                            </div>
                            <input type="text" class="form-control input-sec font-16 fontweight-400" placeholder="Place your Bid">
                        </div>

                        <div class="text-center">
                            <button class="btn  mt-4 mr-3">
                                Never Mind</button>
                            <button class="btn fontweight-500 default-btn mt-4">
                                Submit Bid</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    </div>
</div>