<footer id="footer">
  <div class="container">
    <div class="footer">
      <div class="left_part">
        <p>Copyright 2022 — Designed &amp; Developed by <a href="https://themeforest.net/user/frenify/portfolio" target="_blank">aida</a></p>
      </div>
      <div class="right_part">
        <ul>
          <li><a class="creative_link" href="privacy-policy.html">Privacy Policy</a></li>
          <li><a class="creative_link" href="cookies.html">Cookies</a></li>
          <li><a class="creative_link" href="terms-conditions.html">Terms &amp; Conditions</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
<!--<footer class="footer-sec pt-0">-->
<!--    <div class="container">-->
<!--        <div class="row">-->
<!--            <div class="col-lg-12 d-flex justify-content-center copyrights-cnt">-->
<!--                <p>© 2021 ingress defi Networks, Inc</p>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</footer>-->
