<app-inner-header></app-inner-header>
<!-- Content -->
<div class="metaportal_fn_content">

  <div class="metaportal_fn_pagetitle">

    <div class="container small">
      <div class="pagetitle">
        <h3 class="fn__maintitle big" data-text="Market" data-align="center">Market</h3>
        <p>
          <a href="index.html">Buy NFT's Here</a>
<!--          <span class="divider">/</span>-->
<!--          <span class="text">Collection</span>-->
        </p>
      </div>
    </div>
  </div>

  <!-- Section Divider -->
  <div class="fn_cs_section_divider">
    <div class="divider">
      <span class="short"></span>
      <span class="long"></span>
      <span class="short"></span>
    </div>
  </div>
  <!-- !Section Divider -->


  <!-- Collection Page -->
  <div class="metaportal_fn_collectionpage">
    <div class="container">

      <div class="metaportal_fn_collection">

        <!-- Filters -->
<!--        <div class="metaportal_fn_filters">-->

          <!-- Type -->
<!--          <div class="filter_item filter__type opened">-->

            <!-- Filter Header -->
<!--            <div class="filter_item__header">-->
<!--              <a class="full_link" href="#"></a>-->
<!--              <span class="text">Type</span>-->
<!--              <span class="icon"><img src="svg/down.svg" alt="" class="fn__svg"></span>-->
<!--            </div>-->
            <!-- !Filter Header -->

            <!-- Filter Content -->
<!--            <div class="filter_item__content">-->
<!--              <div class="ic_in">-->

<!--                <ul class="items">-->
<!--                  <li>-->
<!--                    <div class="item">-->
<!--                      <label class="checkbox" data-category="Type" data-id="1">-->
<!--                        <span class="text">Human</span>-->
<!--                        <span class="amount"> - 3100</span>-->
<!--                        <input type="checkbox">-->
<!--                        <span class="checkmark"><img src="svg/checked.svg" alt="" class="fn__svg"></span>-->
<!--                      </label>-->
<!--                    </div>-->
<!--                  </li>-->
<!--                  <li>-->
<!--                    <div class="item">-->
<!--                      <label class="checkbox" data-category="Type" data-id="2">-->
<!--                        <span class="text">Spirit</span>-->
<!--                        <span class="amount"> - 4764</span>-->
<!--                        <input type="checkbox">-->
<!--                        <span class="checkmark"><img src="svg/checked.svg" alt="" class="fn__svg"></span>-->
<!--                      </label>-->
<!--                    </div>-->
<!--                  </li>-->
<!--                  <li>-->
<!--                    <div class="item">-->
<!--                      <label class="checkbox" data-category="Type" data-id="3">-->
<!--                        <span class="text">Fire</span>-->
<!--                        <span class="amount"> - 1280</span>-->
<!--                        <input type="checkbox">-->
<!--                        <span class="checkmark"><img src="svg/checked.svg" alt="" class="fn__svg"></span>-->
<!--                      </label>-->
<!--                    </div>-->
<!--                  </li>-->
<!--                  <li>-->
<!--                    <div class="item">-->
<!--                      <label class="checkbox" data-category="Type" data-id="4">-->
<!--                        <span class="text">Sand</span>-->
<!--                        <span class="amount"> - 2716</span>-->
<!--                        <input type="checkbox">-->
<!--                        <span class="checkmark"><img src="svg/checked.svg" alt="" class="fn__svg"></span>-->
<!--                      </label>-->
<!--                    </div>-->
<!--                  </li>-->
<!--                </ul>-->

<!--              </div>-->
<!--            </div>-->
            <!-- Filter Content -->

<!--          </div>-->
          <!-- !Type -->

          <!-- Special -->
<!--          <div class="filter_item filter__special opened">-->

            <!-- Filter Header -->
<!--            <div class="filter_item__header">-->
<!--              <a class="full_link" href="#"></a>-->
<!--              <span class="text">Special</span>-->
<!--              <span class="icon"><img src="svg/down.svg" alt="" class="fn__svg"></span>-->
<!--            </div>-->
            <!-- !Filter Header -->

            <!-- Filter Content -->
<!--            <div class="filter_item__content">-->
<!--              <div class="ic_in">-->

<!--                <ul class="items">-->
<!--                  <li>-->
<!--                    <div class="item">-->
<!--                      <label class="checkbox" data-category="Special" data-id="5">-->
<!--                        <span class="text">Fireflies</span>-->
<!--                        <span class="amount"> - 3100</span>-->
<!--                        <input type="checkbox">-->
<!--                        <span class="checkmark"><img src="svg/checked.svg" alt="" class="fn__svg"></span>-->
<!--                      </label>-->
<!--                    </div>-->
<!--                  </li>-->
<!--                  <li>-->
<!--                    <div class="item">-->
<!--                      <label class="checkbox" data-category="Special" data-id="6">-->
<!--                        <span class="text">Butterfly</span>-->
<!--                        <span class="amount"> - 4764</span>-->
<!--                        <input type="checkbox">-->
<!--                        <span class="checkmark"><img src="svg/checked.svg" alt="" class="fn__svg"></span>-->
<!--                      </label>-->
<!--                    </div>-->
<!--                  </li>-->
<!--                  <li>-->
<!--                    <div class="item">-->
<!--                      <label class="checkbox" data-category="Special" data-id="7">-->
<!--                        <span class="text">Fox Fire</span>-->
<!--                        <span class="amount"> - 1280</span>-->
<!--                        <input type="checkbox">-->
<!--                        <span class="checkmark"><img src="svg/checked.svg" alt="" class="fn__svg"></span>-->
<!--                      </label>-->
<!--                    </div>-->
<!--                  </li>-->
<!--                  <li>-->
<!--                    <div class="item">-->
<!--                      <label class="checkbox" data-category="Special" data-id="8">-->
<!--                        <span class="text">Smoke</span>-->
<!--                        <span class="amount"> - 2716</span>-->
<!--                        <input type="checkbox">-->
<!--                        <span class="checkmark"><img src="svg/checked.svg" alt="" class="fn__svg"></span>-->
<!--                      </label>-->
<!--                    </div>-->
<!--                  </li>-->
<!--                  <li>-->
<!--                    <div class="item">-->
<!--                      <label class="checkbox" data-category="Special" data-id="9">-->
<!--                        <span class="text">Sakura</span>-->
<!--                        <span class="amount"> - 1280</span>-->
<!--                        <input type="checkbox">-->
<!--                        <span class="checkmark"><img src="svg/checked.svg" alt="" class="fn__svg"></span>-->
<!--                      </label>-->
<!--                    </div>-->
<!--                  </li>-->
<!--                  <li>-->
<!--                    <div class="item">-->
<!--                      <label class="checkbox" data-category="Special" data-id="10">-->
<!--                        <span class="text">Fire</span>-->
<!--                        <span class="amount"> - 2716</span>-->
<!--                        <input type="checkbox">-->
<!--                        <span class="checkmark"><img src="svg/checked.svg" alt="" class="fn__svg"></span>-->
<!--                      </label>-->
<!--                    </div>-->
<!--                  </li>-->
<!--                  <li>-->
<!--                    <div class="item">-->
<!--                      <label class="checkbox" data-category="Special" data-id="11">-->
<!--                        <span class="text">Earth</span>-->
<!--                        <span class="amount"> - 1534</span>-->
<!--                        <input type="checkbox">-->
<!--                        <span class="checkmark"><img src="svg/checked.svg" alt="" class="fn__svg"></span>-->
<!--                      </label>-->
<!--                    </div>-->
<!--                  </li>-->
<!--                  <li>-->
<!--                    <div class="item">-->
<!--                      <label class="checkbox" data-category="Special" data-id="12">-->
<!--                        <span class="text">Water</span>-->
<!--                        <span class="amount"> - 1235</span>-->
<!--                        <input type="checkbox">-->
<!--                        <span class="checkmark"><img src="svg/checked.svg" alt="" class="fn__svg"></span>-->
<!--                      </label>-->
<!--                    </div>-->
<!--                  </li>-->
<!--                </ul>-->

<!--              </div>-->
<!--            </div>-->
            <!-- Filter Content -->

<!--          </div>-->
          <!-- !Special -->

          <!-- Clothing -->
<!--          <div class="filter_item filter__clothing">-->

            <!-- Filter Header -->
<!--            <div class="filter_item__header">-->
<!--              <a class="full_link" href="#"></a>-->
<!--              <span class="text">Clothing</span>-->
<!--              <span class="icon"><img src="svg/down.svg" alt="" class="fn__svg"></span>-->
<!--            </div>-->
            <!-- !Filter Header -->

            <!-- Filter Content -->
<!--            <div class="filter_item__content">-->
<!--              <div class="ic_in">-->

<!--                <ul class="items">-->
<!--                  <li>-->
<!--                    <div class="item">-->
<!--                      <label class="checkbox" data-category="Clothing" data-id="13">-->
<!--                        <span class="text">Light Kimono</span>-->
<!--                        <span class="amount">- 3100</span>-->
<!--                        <input type="checkbox">-->
<!--                        <span class="checkmark"><img src="svg/checked.svg" alt="" class="fn__svg"></span>-->
<!--                      </label>-->
<!--                    </div>-->
<!--                  </li>-->
<!--                  <li>-->
<!--                    <div class="item">-->
<!--                      <label class="checkbox" data-category="Clothing" data-id="14">-->
<!--                        <span class="text">Maroon Yukata</span>-->
<!--                        <span class="amount"> - 4764</span>-->
<!--                        <input type="checkbox">-->
<!--                        <span class="checkmark"><img src="svg/checked.svg" alt="" class="fn__svg"></span>-->
<!--                      </label>-->
<!--                    </div>-->
<!--                  </li>-->
<!--                  <li>-->
<!--                    <div class="item">-->
<!--                      <label class="checkbox" data-category="Clothing" data-id="15">-->
<!--                        <span class="text">Blue Kimono</span>-->
<!--                        <span class="amount"> - 1280</span>-->
<!--                        <input type="checkbox">-->
<!--                        <span class="checkmark"><img src="svg/checked.svg" alt="" class="fn__svg"></span>-->
<!--                      </label>-->
<!--                    </div>-->
<!--                  </li>-->
<!--                  <li>-->
<!--                    <div class="item">-->
<!--                      <label class="checkbox" data-category="Clothing" data-id="16">-->
<!--                        <span class="text">Green Yukata</span>-->
<!--                        <span class="amount"> - 2716</span>-->
<!--                        <input type="checkbox">-->
<!--                        <span class="checkmark"><img src="svg/checked.svg" alt="" class="fn__svg"></span>-->
<!--                      </label>-->
<!--                    </div>-->
<!--                  </li>-->
<!--                  <li>-->
<!--                    <div class="item">-->
<!--                      <label class="checkbox" data-category="Clothing" data-id="17">-->
<!--                        <span class="text">Turquoise Kimono</span>-->
<!--                        <span class="amount"> - 1280</span>-->
<!--                        <input type="checkbox">-->
<!--                        <span class="checkmark"><img src="svg/checked.svg" alt="" class="fn__svg"></span>-->
<!--                      </label>-->
<!--                    </div>-->
<!--                  </li>-->
<!--                  <li>-->
<!--                    <div class="item">-->
<!--                      <label class="checkbox" data-category="Clothing" data-id="18">-->
<!--                        <span class="text">Black Yukata</span>-->
<!--                        <span class="amount"> - 2716</span>-->
<!--                        <input type="checkbox">-->
<!--                        <span class="checkmark"><img src="svg/checked.svg" alt="" class="fn__svg"></span>-->
<!--                      </label>-->
<!--                    </div>-->
<!--                  </li>-->
<!--                  <li>-->
<!--                    <div class="item">-->
<!--                      <label class="checkbox" data-category="Clothing" data-id="19">-->
<!--                        <span class="text">Azuki Tech Jacket</span>-->
<!--                        <span class="amount"> - 1534</span>-->
<!--                        <input type="checkbox">-->
<!--                        <span class="checkmark"><img src="svg/checked.svg" alt="" class="fn__svg"></span>-->
<!--                      </label>-->
<!--                    </div>-->
<!--                  </li>-->
<!--                  <li>-->
<!--                    <div class="item">-->
<!--                      <label class="checkbox" data-category="Clothing" data-id="20">-->
<!--                        <span class="text">Blue Floral Kimono</span>-->
<!--                        <span class="amount"> - 1235</span>-->
<!--                        <input type="checkbox">-->
<!--                        <span class="checkmark"><img src="svg/checked.svg" alt="" class="fn__svg"></span>-->
<!--                      </label>-->
<!--                    </div>-->
<!--                  </li>-->
<!--                </ul>-->

<!--              </div>-->
<!--            </div>-->
            <!-- Filter Content -->

<!--          </div>-->
          <!-- !Clothing -->

          <!-- Hair -->
<!--          <div class="filter_item filter__hair">-->

            <!-- Filter Header -->
<!--            <div class="filter_item__header">-->
<!--              <a class="full_link" href="#"></a>-->
<!--              <span class="text">Hair</span>-->
<!--              <span class="icon"><img src="svg/down.svg" alt="" class="fn__svg"></span>-->
<!--            </div>-->
            <!-- !Filter Header -->

            <!-- Filter Content -->
<!--            <div class="filter_item__content">-->
<!--              <div class="ic_in">-->

<!--                <ul class="items">-->
<!--                  <li>-->
<!--                    <div class="item">-->
<!--                      <label class="checkbox" data-category="Hair" data-id="21">-->
<!--                        <span class="text">Maroon Bun</span>-->
<!--                        <span class="amount"> - 3100</span>-->
<!--                        <input type="checkbox">-->
<!--                        <span class="checkmark"><img src="svg/checked.svg" alt="" class="fn__svg"></span>-->
<!--                      </label>-->
<!--                    </div>-->
<!--                  </li>-->
<!--                  <li>-->
<!--                    <div class="item">-->
<!--                      <label class="checkbox" data-category="Hair" data-id="22">-->
<!--                        <span class="text">Maroon Ponytail</span>-->
<!--                        <span class="amount"> - 4764</span>-->
<!--                        <input type="checkbox">-->
<!--                        <span class="checkmark"><img src="svg/checked.svg" alt="" class="fn__svg"></span>-->
<!--                      </label>-->
<!--                    </div>-->
<!--                  </li>-->
<!--                  <li>-->
<!--                    <div class="item">-->
<!--                      <label class="checkbox" data-category="Hair" data-id="23">-->
<!--                        <span class="text">Brown Spiky</span>-->
<!--                        <span class="amount"> - 1280</span>-->
<!--                        <input type="checkbox">-->
<!--                        <span class="checkmark"><img src="svg/checked.svg" alt="" class="fn__svg"></span>-->
<!--                      </label>-->
<!--                    </div>-->
<!--                  </li>-->
<!--                  <li>-->
<!--                    <div class="item">-->
<!--                      <label class="checkbox" data-category="Hair" data-id="24">-->
<!--                        <span class="text">Brown Long</span>-->
<!--                        <span class="amount"> - 2716</span>-->
<!--                        <input type="checkbox">-->
<!--                        <span class="checkmark"><img src="svg/checked.svg" alt="" class="fn__svg"></span>-->
<!--                      </label>-->
<!--                    </div>-->
<!--                  </li>-->
<!--                  <li>-->
<!--                    <div class="item">-->
<!--                      <label class="checkbox" data-category="Hair" data-id="25">-->
<!--                        <span class="text">Maroon Disheveled</span>-->
<!--                        <span class="amount"> - 1280</span>-->
<!--                        <input type="checkbox">-->
<!--                        <span class="checkmark"><img src="svg/checked.svg" alt="" class="fn__svg"></span>-->
<!--                      </label>-->
<!--                    </div>-->
<!--                  </li>-->
<!--                  <li>-->
<!--                    <div class="item">-->
<!--                      <label class="checkbox" data-category="Hair" data-id="26">-->
<!--                        <span class="text">Maroon Bob</span>-->
<!--                        <span class="amount"> - 2716</span>-->
<!--                        <input type="checkbox">-->
<!--                        <span class="checkmark"><img src="svg/checked.svg" alt="" class="fn__svg"></span>-->
<!--                      </label>-->
<!--                    </div>-->
<!--                  </li>-->
<!--                  <li>-->
<!--                    <div class="item">-->
<!--                      <label class="checkbox" data-category="Hair" data-id="27">-->
<!--                        <span class="text">Magenta Long</span>-->
<!--                        <span class="amount"> - 1534</span>-->
<!--                        <input type="checkbox">-->
<!--                        <span class="checkmark"><img src="svg/checked.svg" alt="" class="fn__svg"></span>-->
<!--                      </label>-->
<!--                    </div>-->
<!--                  </li>-->
<!--                  <li>-->
<!--                    <div class="item">-->
<!--                      <label class="checkbox" data-category="Hair" data-id="28">-->
<!--                        <span class="text">Indigo Long</span>-->
<!--                        <span class="amount"> - 1235</span>-->
<!--                        <input type="checkbox">-->
<!--                        <span class="checkmark"><img src="svg/checked.svg" alt="" class="fn__svg"></span>-->
<!--                      </label>-->
<!--                    </div>-->
<!--                  </li>-->
<!--                  <li>-->
<!--                    <div class="item">-->
<!--                      <label class="checkbox" data-category="Hair" data-id="29">-->
<!--                        <span class="text">Maroon Short Spiky</span>-->
<!--                        <span class="amount"> - 345</span>-->
<!--                        <input type="checkbox">-->
<!--                        <span class="checkmark"><img src="svg/checked.svg" alt="" class="fn__svg"></span>-->
<!--                      </label>-->
<!--                    </div>-->
<!--                  </li>-->
<!--                  <li>-->
<!--                    <div class="item">-->
<!--                      <label class="checkbox" data-category="Hair" data-id="30">-->
<!--                        <span class="text">Blonde Short Spiky</span>-->
<!--                        <span class="amount"> - 600</span>-->
<!--                        <input type="checkbox">-->
<!--                        <span class="checkmark"><img src="svg/checked.svg" alt="" class="fn__svg"></span>-->
<!--                      </label>-->
<!--                    </div>-->
<!--                  </li>-->
<!--                </ul>-->

<!--              </div>-->
<!--            </div>-->
            <!-- Filter Content -->

<!--          </div>-->
          <!-- !Hair -->

          <!-- Face -->
<!--          <div class="filter_item filter__face">-->

            <!-- Filter Header -->
<!--            <div class="filter_item__header">-->
<!--              <a class="full_link" href="#"></a>-->
<!--              <span class="text">Face</span>-->
<!--              <span class="icon"><img src="svg/down.svg" alt="" class="fn__svg"></span>-->
<!--            </div>-->
            <!-- !Filter Header -->

            <!-- Filter Content -->
<!--            <div class="filter_item__content">-->
<!--              <div class="ic_in">-->

<!--                <ul class="items">-->
<!--                  <li>-->
<!--                    <div class="item">-->
<!--                      <label class="checkbox" data-category="Face" data-id="31">-->
<!--                        <span class="text">Red Stripes Face Paint</span>-->
<!--                        <span class="amount"> - 3100</span>-->
<!--                        <input type="checkbox">-->
<!--                        <span class="checkmark"><img src="svg/checked.svg" alt="" class="fn__svg"></span>-->
<!--                      </label>-->
<!--                    </div>-->
<!--                  </li>-->
<!--                  <li>-->
<!--                    <div class="item">-->
<!--                      <label class="checkbox" data-category="Face" data-id="32">-->
<!--                        <span class="text">Eye Scar</span>-->
<!--                        <span class="amount"> - 4764</span>-->
<!--                        <input type="checkbox">-->
<!--                        <span class="checkmark"><img src="svg/checked.svg" alt="" class="fn__svg"></span>-->
<!--                      </label>-->
<!--                    </div>-->
<!--                  </li>-->
<!--                  <li>-->
<!--                    <div class="item">-->
<!--                      <label class="checkbox" data-category="Face" data-id="33">-->
<!--                        <span class="text">Round Blue Sunglasses</span>-->
<!--                        <span class="amount"> - 1280</span>-->
<!--                        <input type="checkbox">-->
<!--                        <span class="checkmark"><img src="svg/checked.svg" alt="" class="fn__svg"></span>-->
<!--                      </label>-->
<!--                    </div>-->
<!--                  </li>-->
<!--                  <li>-->
<!--                    <div class="item">-->
<!--                      <label class="checkbox" data-category="Face" data-id="34">-->
<!--                        <span class="text">Red Fang Face Paint</span>-->
<!--                        <span class="amount"> - 2716</span>-->
<!--                        <input type="checkbox">-->
<!--                        <span class="checkmark"><img src="svg/checked.svg" alt="" class="fn__svg"></span>-->
<!--                      </label>-->
<!--                    </div>-->
<!--                  </li>-->
<!--                  <li>-->
<!--                    <div class="item">-->
<!--                      <label class="checkbox" data-category="Face" data-id="35">-->
<!--                        <span class="text">Maroon Disheveled</span>-->
<!--                        <span class="amount"> - 1280</span>-->
<!--                        <input type="checkbox">-->
<!--                        <span class="checkmark"><img src="svg/checked.svg" alt="" class="fn__svg"></span>-->
<!--                      </label>-->
<!--                    </div>-->
<!--                  </li>-->
<!--                </ul>-->

<!--              </div>-->
<!--            </div>-->
            <!-- Filter Content -->

<!--          </div>-->
          <!-- !Face -->

          <!-- Eyes -->
<!--          <div class="filter_item filter__eyes">-->

            <!-- Filter Header -->
<!--            <div class="filter_item__header">-->
<!--              <a class="full_link" href="#"></a>-->
<!--              <span class="text">Eyes</span>-->
<!--              <span class="icon"><img src="svg/down.svg" alt="" class="fn__svg"></span>-->
<!--            </div>-->
            <!-- !Filter Header -->

            <!-- Filter Content -->
<!--            <div class="filter_item__content">-->
<!--              <div class="ic_in">-->

<!--                <ul class="items">-->
<!--                  <li>-->
<!--                    <div class="item">-->
<!--                      <label class="checkbox" data-category="Eyes" data-id="36">-->
<!--                        <span class="text">Closed</span>-->
<!--                        <span class="amount"> - 3100</span>-->
<!--                        <input type="checkbox">-->
<!--                        <span class="checkmark"><img src="svg/checked.svg" alt="" class="fn__svg"></span>-->
<!--                      </label>-->
<!--                    </div>-->
<!--                  </li>-->
<!--                  <li>-->
<!--                    <div class="item">-->
<!--                      <label class="checkbox" data-category="Eyes" data-id="37">-->
<!--                        <span class="text">Determined</span>-->
<!--                        <span class="amount"> - 4764</span>-->
<!--                        <input type="checkbox">-->
<!--                        <span class="checkmark"><img src="svg/checked.svg" alt="" class="fn__svg"></span>-->
<!--                      </label>-->
<!--                    </div>-->
<!--                  </li>-->
<!--                  <li>-->
<!--                    <div class="item">-->
<!--                      <label class="checkbox" data-category="Eyes" data-id="38">-->
<!--                        <span class="text">Striking</span>-->
<!--                        <span class="amount"> - 1280</span>-->
<!--                        <input type="checkbox">-->
<!--                        <span class="checkmark"><img src="svg/checked.svg" alt="" class="fn__svg"></span>-->
<!--                      </label>-->
<!--                    </div>-->
<!--                  </li>-->
<!--                  <li>-->
<!--                    <div class="item">-->
<!--                      <label class="checkbox" data-category="Eyes" data-id="39">-->
<!--                        <span class="text">Chill</span>-->
<!--                        <span class="amount"> - 2716</span>-->
<!--                        <input type="checkbox">-->
<!--                        <span class="checkmark"><img src="svg/checked.svg" alt="" class="fn__svg"></span>-->
<!--                      </label>-->
<!--                    </div>-->
<!--                  </li>-->
<!--                  <li>-->
<!--                    <div class="item">-->
<!--                      <label class="checkbox" data-category="Eyes" data-id="40">-->
<!--                        <span class="text">Daydreaming</span>-->
<!--                        <span class="amount"> - 1280</span>-->
<!--                        <input type="checkbox">-->
<!--                        <span class="checkmark"><img src="svg/checked.svg" alt="" class="fn__svg"></span>-->
<!--                      </label>-->
<!--                    </div>-->
<!--                  </li>-->
<!--                </ul>-->

<!--              </div>-->
<!--            </div>-->
            <!-- Filter Content -->

<!--          </div>-->
          <!-- !Eyes -->

          <!-- Mouth -->
<!--          <div class="filter_item filter__mouth">-->

            <!-- Filter Header -->
<!--            <div class="filter_item__header">-->
<!--              <a class="full_link" href="#"></a>-->
<!--              <span class="text">Mouth</span>-->
<!--              <span class="icon"><img src="svg/down.svg" alt="" class="fn__svg"></span>-->
<!--            </div>-->
            <!-- !Filter Header -->

            <!-- Filter Content -->
<!--            <div class="filter_item__content">-->
<!--              <div class="ic_in">-->

<!--                <ul class="items">-->
<!--                  <li>-->
<!--                    <div class="item">-->
<!--                      <label class="checkbox" data-category="Mouth" data-id="41">-->
<!--                        <span class="text">Relaxed</span>-->
<!--                        <span class="amount"> - 3100</span>-->
<!--                        <input type="checkbox">-->
<!--                        <span class="checkmark"><img src="svg/checked.svg" alt="" class="fn__svg"></span>-->
<!--                      </label>-->
<!--                    </div>-->
<!--                  </li>-->
<!--                  <li>-->
<!--                    <div class="item">-->
<!--                      <label class="checkbox" data-category="Mouth" data-id="42">-->
<!--                        <span class="text">Closed</span>-->
<!--                        <span class="amount"> - 4764</span>-->
<!--                        <input type="checkbox">-->
<!--                        <span class="checkmark"><img src="svg/checked.svg" alt="" class="fn__svg"></span>-->
<!--                      </label>-->
<!--                    </div>-->
<!--                  </li>-->
<!--                  <li>-->
<!--                    <div class="item">-->
<!--                      <label class="checkbox" data-category="Mouth" data-id="43">-->
<!--                        <span class="text">Smirk</span>-->
<!--                        <span class="amount"> - 1280</span>-->
<!--                        <input type="checkbox">-->
<!--                        <span class="checkmark"><img src="svg/checked.svg" alt="" class="fn__svg"></span>-->
<!--                      </label>-->
<!--                    </div>-->
<!--                  </li>-->
<!--                  <li>-->
<!--                    <div class="item">-->
<!--                      <label class="checkbox" data-category="Mouth" data-id="44">-->
<!--                        <span class="text">Not Bad</span>-->
<!--                        <span class="amount"> - 2716</span>-->
<!--                        <input type="checkbox">-->
<!--                        <span class="checkmark"><img src="svg/checked.svg" alt="" class="fn__svg"></span>-->
<!--                      </label>-->
<!--                    </div>-->
<!--                  </li>-->
<!--                  <li>-->
<!--                    <div class="item">-->
<!--                      <label class="checkbox" data-category="Mouth" data-id="45">-->
<!--                        <span class="text">Smoking</span>-->
<!--                        <span class="amount"> - 1280</span>-->
<!--                        <input type="checkbox">-->
<!--                        <span class="checkmark"><img src="svg/checked.svg" alt="" class="fn__svg"></span>-->
<!--                      </label>-->
<!--                    </div>-->
<!--                  </li>-->
<!--                  <li>-->
<!--                    <div class="item">-->
<!--                      <label class="checkbox" data-category="Mouth" data-id="46">-->
<!--                        <span class="text">Lipstick</span>-->
<!--                        <span class="amount"> - 490</span>-->
<!--                        <input type="checkbox">-->
<!--                        <span class="checkmark"><img src="svg/checked.svg" alt="" class="fn__svg"></span>-->
<!--                      </label>-->
<!--                    </div>-->
<!--                  </li>-->
<!--                </ul>-->

<!--              </div>-->
<!--            </div>-->
            <!-- Filter Content -->

<!--          </div>-->
          <!-- !Mouth -->

          <!-- Neck -->
<!--          <div class="filter_item filter__neck">-->

            <!-- Filter Header -->
<!--            <div class="filter_item__header">-->
<!--              <a class="full_link" href="#"></a>-->
<!--              <span class="text">Neck</span>-->
<!--              <span class="icon"><img src="svg/down.svg" alt="" class="fn__svg"></span>-->
<!--            </div>-->
            <!-- !Filter Header -->

            <!-- Filter Content -->
<!--            <div class="filter_item__content">-->
<!--              <div class="ic_in">-->

<!--                <ul class="items">-->
<!--                  <li>-->
<!--                    <div class="item">-->
<!--                      <label class="checkbox" data-category="Neck" data-id="47">-->
<!--                        <span class="text">Chill Headphones</span>-->
<!--                        <span class="amount"> - 3100</span>-->
<!--                        <input type="checkbox">-->
<!--                        <span class="checkmark"><img src="svg/checked.svg" alt="" class="fn__svg"></span>-->
<!--                      </label>-->
<!--                    </div>-->
<!--                  </li>-->
<!--                  <li>-->
<!--                    <div class="item">-->
<!--                      <label class="checkbox" data-category="Neck" data-id="48">-->
<!--                        <span class="text">Koi Tattoo</span>-->
<!--                        <span class="amount"> - 4764</span>-->
<!--                        <input type="checkbox">-->
<!--                        <span class="checkmark"><img src="svg/checked.svg" alt="" class="fn__svg"></span>-->
<!--                      </label>-->
<!--                    </div>-->
<!--                  </li>-->
<!--                  <li>-->
<!--                    <div class="item">-->
<!--                      <label class="checkbox" data-category="Neck" data-id="49">-->
<!--                        <span class="text">Towel</span>-->
<!--                        <span class="amount"> - 1280</span>-->
<!--                        <input type="checkbox">-->
<!--                        <span class="checkmark"><img src="svg/checked.svg" alt="" class="fn__svg"></span>-->
<!--                      </label>-->
<!--                    </div>-->
<!--                  </li>-->
<!--                  <li>-->
<!--                    <div class="item">-->
<!--                      <label class="checkbox" data-category="Neck" data-id="50">-->
<!--                        <span class="text">Zen Headphones</span>-->
<!--                        <span class="amount"> - 2716</span>-->
<!--                        <input type="checkbox">-->
<!--                        <span class="checkmark"><img src="svg/checked.svg" alt="" class="fn__svg"></span>-->
<!--                      </label>-->
<!--                    </div>-->
<!--                  </li>-->
<!--                </ul>-->

<!--              </div>-->
<!--            </div>-->
            <!-- Filter Content -->

<!--          </div>-->
          <!-- !Neck -->

<!--        </div>-->
        <!-- !Filters -->

<!--        <div class="metaportal_fn_clist">-->

          <!-- Result Box -->
<!--          <div class="metaportal_fn_result_box">-->
<!--            <div class="filter_count">-->
<!--              Filters <span>0</span>-->
<!--            </div>-->
<!--          </div>-->
          <!-- !Result Box -->

          <!-- Result List -->
          <div class="metaportal_fn_result_list">
            <div class="metaportal_fn_drops">
              <ul class="grid">

                <li class="id1 id5">
                  <div class="nft__item">
                    <div class="img_holder">
                      <img src="img/drops/1.jpg" alt="">
                      <a href="nft-single.html" class="full_link"></a>
                    </div>
                    <div class="title_holder">
                      <h3 class="fn_title"><a href="nft-single.html">Meta Legends #4588</a></h3>
                    </div>
                  </div>
                </li>


                <li class="id1 id2 id3 id5 id6">
                  <div class="nft__item">
                    <div class="img_holder">
                      <img src="assets/img/drops/2.jpg" alt="">
                      <a href="nft-single.html" class="full_link"></a>
                    </div>
                    <div class="title_holder">
                      <h3 class="fn_title"><a href="nft-single.html">Meta Legends #4587</a></h3>
                    </div>
                  </div>
                </li>
                <li class="id7 id8 id3">
                  <div class="nft__item">
                    <div class="img_holder">
                      <img src="assets/img/drops/3.jpg" alt="">
                      <a href="nft-single.html" class="full_link"></a>
                    </div>
                    <div class="title_holder">
                      <h3 class="fn_title"><a href="nft-single.html">Meta Legends #4586</a></h3>
                    </div>
                  </div>
                </li>
                <li class="id4 id7 id9">
                  <div class="nft__item">
                    <div class="img_holder">
                      <img src="assets/img/drops/4.jpg" alt="">
                      <a href="nft-single.html" class="full_link"></a>
                    </div>
                    <div class="title_holder">
                      <h3 class="fn_title"><a href="nft-single.html">Meta Legends #4585</a></h3>
                    </div>
                  </div>
                </li>
                <li class="id2 id10">
                  <div class="nft__item">
                    <div class="img_holder">
                      <img src="assets/img/drops/5.jpg" alt="">
                      <a href="nft-single.html" class="full_link"></a>
                    </div>
                    <div class="title_holder">
                      <h3 class="fn_title"><a href="nft-single.html">Meta Legends #4584</a></h3>
                    </div>
                  </div>
                </li>
                <li class="id11 id12">
                  <div class="nft__item">
                    <div class="img_holder">
                      <img src="assets/img/drops/6.jpg" alt="">
                      <a href="nft-single.html" class="full_link"></a>
                    </div>
                    <div class="title_holder">
                      <h3 class="fn_title"><a href="nft-single.html">Meta Legends #4583</a></h3>
                    </div>
                  </div>
                </li>
                <li class="id1 id13 id20">
                  <div class="nft__item">
                    <div class="img_holder">
                      <img src="assets/img/drops/7.jpg" alt="">
                      <a href="nft-single.html" class="full_link"></a>
                    </div>
                    <div class="title_holder">
                      <h3 class="fn_title"><a href="nft-single.html">Meta Legends #4582</a></h3>
                    </div>
                  </div>
                </li>
                <li class="id1 id14">
                  <div class="nft__item">
                    <div class="img_holder">
                      <img src="assets/img/drops/8.jpg" alt="">
                      <a href="nft-single.html" class="full_link"></a>
                    </div>
                    <div class="title_holder">
                      <h3 class="fn_title"><a href="nft-single.html">Meta Legends #4581</a></h3>
                    </div>
                  </div>
                </li>
                <li class="id2 id13">
                  <div class="nft__item">
                    <div class="img_holder">
                      <img src="assets/img/drops/9.jpg" alt="">
                      <a href="nft-single.html" class="full_link"></a>
                    </div>
                    <div class="title_holder">
                      <h3 class="fn_title"><a href="nft-single.html">Meta Legends #4580</a></h3>
                    </div>
                  </div>
                </li>
                <li class="id4 id14">
                  <div class="nft__item">
                    <div class="img_holder">
                      <img src="assets/img/drops/10.jpg" alt="">
                      <a href="nft-single.html" class="full_link"></a>
                    </div>
                    <div class="title_holder">
                      <h3 class="fn_title"><a href="nft-single.html">Meta Legends #4579</a></h3>
                    </div>
                  </div>
                </li>
                <li class="id5 id13">
                  <div class="nft__item">
                    <div class="img_holder">
                      <img src="assets/img/drops/11.jpg" alt="">
                      <a href="nft-single.html" class="full_link"></a>
                    </div>
                    <div class="title_holder">
                      <h3 class="fn_title"><a href="nft-single.html">Meta Legends #4578</a></h3>
                    </div>
                  </div>
                </li>
                <li class="id6 id7 id2">
                  <div class="nft__item">
                    <div class="img_holder">
                      <img src="assets/img/drops/12.jpg" alt="">
                      <a href="nft-single.html" class="full_link"></a>
                    </div>
                    <div class="title_holder">
                      <h3 class="fn_title"><a href="nft-single.html">Meta Legends #4577</a></h3>
                    </div>
                  </div>
                </li>
                <li class="id7 id8 id3">
                  <div class="nft__item">
                    <div class="img_holder">
                      <img src="assets/img/drops/13.jpg" alt="">
                      <a href="nft-single.html" class="full_link"></a>
                    </div>
                    <div class="title_holder">
                      <h3 class="fn_title"><a href="nft-single.html">Meta Legends #5454</a></h3>
                    </div>
                  </div>
                </li>
                <li class="id4 id7 id9">
                  <div class="nft__item">
                    <div class="img_holder">
                      <img src="assets/img/drops/14.jpg" alt="">
                      <a href="nft-single.html" class="full_link"></a>
                    </div>
                    <div class="title_holder">
                      <h3 class="fn_title"><a href="nft-single.html">Meta Legends #4285</a></h3>
                    </div>
                  </div>
                </li>
                <li class="id2 id10">
                  <div class="nft__item">
                    <div class="img_holder">
                      <img src="assets/img/drops/15.jpg" alt="">
                      <a href="nft-single.html" class="full_link"></a>
                    </div>
                    <div class="title_holder">
                      <h3 class="fn_title"><a href="nft-single.html">Meta Legends #4184</a></h3>
                    </div>
                    <a class="metaportal_fn_button mx-auto mt-2 ">Buy now</a>
                  </div>
                </li>
                <li class="id11 id12">
                  <div class="nft__item">
                    <div class="img_holder">
                      <img src="assets/img/drops/16.jpg" alt="">
                      <a href="nft-single.html" class="full_link"></a>
                    </div>
                    <div class="title_holder">
                      <h3 class="fn_title"><a href="nft-single.html">Meta Legends #2583</a></h3>
                    </div>
                    <a class="metaportal_fn_button mx-auto mt-2 ">Buy now</a>
                  </div>
                </li>
                <li class="id1 id13 id20">
                  <div class="nft__item">
                    <div class="img_holder">
                      <img src="assets/img/drops/17.jpg" alt="">
                      <a href="nft-single.html" class="full_link"></a>
                    </div>
                    <div class="title_holder">
                      <h3 class="fn_title"><a href="nft-single.html">Meta Legends #1582</a></h3>
                    </div>
                    <a class="metaportal_fn_button mx-auto mt-2 ">Buy now</a>
                  </div>
                </li>
                <li class="id1 id14">
                  <div class="nft__item">
                    <div class="img_holder">
                      <img src="assets/img/drops/18.jpg" alt="">
                      <a href="nft-single.html" class="full_link"></a>
                    </div>
                    <div class="title_holder">
                      <h3 class="fn_title"><a href="nft-single.html">Meta Legends #3562</a></h3>
                    </div>
                    <a class="metaportal_fn_button mx-auto mt-2 ">Buy now</a>
                  </div>
                </li>
              </ul>
            </div>

          </div>
          <!-- !Result List -->

        </div>

<!--      </div>-->

    </div>
  </div>
  <!-- !Collection Page -->


<app-inner-footer></app-inner-footer>

</div>
<!-- !Content -->
<!--<app-inner-header></app-inner-header>-->
<div class="digital-art-sec">
    <div class="middle-section">
        <div class="container tabpages-cnt">
            <div class="row">
                <div class="col-lg-12">
                    <h3 class="section-title">Buy NFT's Here</h3>
                </div>
                <div class="col-md-12 col-lg-6 col-sm-12 col-xl-4" *ngFor="let item of items;let i = index">
                    <div class="act-cnt" *ngIf="item.show">
                        <div class="act-head d-flex align-items-center justify-content-between px-2 mb-3">
                            <a (click)="getUserFunc(item.userId)">
                                <div class="d-flex">
                                    <div class="prof-pic-cnt mr-3">


                                        <img *ngIf="item.profilepicture !='' " src="{{ (item.profilepicture) ? item.profilepicture : 'assets/images/prof.png' }}">
                                        <img *ngIf="item.profilepicture =='' " src="assets/images/prof.png">

                                    </div>
                                    <div>
                                        <h3 class="mb-0">{{item.username}}</h3>
                                        <p class="mb-0">Artist</p>
                                    </div>
                                </div>
                            </a>
                            <a (click)="getUserFunc(item.ownerId)">
                                <div class="d-flex">
                                    <div class="mr-3">
                                        <h3 class="mb-0">{{item.ownername}}</h3>
                                        <p class="mb-0">Artist</p>
                                    </div>
                                    <div class="prof-pic-cnt ">
                                        <!-- <img src="{{ (item.ownerpicture) ? item.ownerpicture : 'assets/images/prof1.png' }}"> -->

                                        <img *ngIf="item.ownerpicture !=''" src="{{ (item.ownerpicture) ? item.ownerpicture : 'assets/images/prof1.png' }}">
                                            <img *ngIf="item.ownerpicture ==''" src="assets/images/prof1.png">

                                    </div>
                                </div>
                            </a>
                        </div>
                        <a (click)="myFunc1(item._id)">
                       <img  *ngIf="item.image != ''" src="{{item.image}}" class="img-fluid w-100">

                            <img *ngIf="item.image == ''"  src="assets/images/market1.png" class="img-fluid w-100">
                        </a>
                        <div class="act-head">
                            <h3>{{item.name}}</h3>
                            <div class="border-bottom"></div>
                            <div class="row mt-2">
                                <div class="col-sm-6 col-md-6 text-center col-lg-6 col-xl-6 border-right">
                                    <h3 class="mb-0">{{item.price}} {{item.tocurrency}}</h3>
                                    <p class="mb-2">Price</p>
                                </div>
                                 <div class="col-sm-6 col-md-6 text-center col-lg-6 col-xl-4 border-right">
                                    <h3 class="mb-0">{{item.supply}}</h3>
                                    <p class="mb-2">Suppply</p>
                                </div>
                                <div class="col-sm-6 col-md-6 text-center col-lg-6 col-xl-6">
                                    <img src="assets/images/heart.png" (click)="addLike(item)" *ngIf="item.fav">
                                    <img src="assets/images/heart-icon.png" (click)="addLike(item)" *ngIf="!item.fav">
                                    <p class="mb-2">{{item.likeCount}} Favorites</p>
                                </div>
                                <div *ngIf="item.canbuy && item.type == 'add'" class="text-xl-center text-sm-center mb-2">
                                    <button (click)="myFunc(item._id)" class="btn default-btn type-btn">buy now</button>
                                </div>
                                <div *ngIf="item.canbuy && item.type != 'add'" class="text-xl-center text-sm-center mb-2">
                                    <button (click)="myFunc1(item._id)" class="btn default-btn type-btn">buy now</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-lg-12 col-sm-12 col-xl-12 text-center" *ngIf="!items.show && items.length == 1">No Items to display</div>
                </div>
                <button class="btn default-btn mt-4" (click)="loadmore(skip)"  *ngIf="items.length > 5">Load more</button>

                <div class="col-md-12 col-lg-12 col-sm-12 col-xl-12 text-center" *ngIf="items.length == 0">No Items to display</div>
            </div>
        </div>
    </div>
</div>
<app-inner-footer></app-inner-footer>



<div class="modal fade modalPrimary md creat-collection" id="Bidapp">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header border-bottom-0 d-block">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="row justify-content-center align-items-start">
                    <div class="col-md-12 col-sm-12 col-lg-12 col-xl-12">
                        <div class="blog-sec-cnt">
                            <div class="d-lg-flex align-items-center">
                                <img src="assets/images/app1.png" class="img-fluid mr-3">
                                <div class="text-left">
                                    <p class="font-16 fontweight-500 text-black mt-2 mb-4">Bids placed during an auction cannot be withdrawn. By placing a bid you indicate that you have read and agree to the Auction Terms of Use</p>
                                    <p class="font-16 fontweight-500 text-black mb-2">Current Bid</p>
                                    <p class="font-28 font-weight-bold text-black mb-0">0.1 ETH (~$242)</p>
                                </div>
                            </div>
                            <h5 class="font-16 fontweight-500 mt-4 text-black mb-2">OLIVER CROMWELL - AI "AFTER</h5>
                            <div class="row tabpages-cnt p-0 w-auto">
                                <div class="col-md-6 col-sm-6 col-xl-4 col-lg-6 mt-3">
                                    <div class="card grey-cnt text-center">
                                        <div class="card-body">
                                            <p>Total Bit Amount</p>
                                            <h3 class="font-16 fontweight-500">0 BNB</h3>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-6 col-xl-4 col-lg-6 mt-3">
                                    <div class="card grey-cnt text-center">
                                        <div class="card-body">
                                            <p>Your Balance</p>
                                            <h3 class="font-16 fontweight-500">0 BNB</h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group mt-3 ">
                                <div class="d-flex justify-content-between bid-block">
                                    <label class="mb-0 pb-0 font-18 font-weight-bold text-black mb-2" for="yourName">You must bid at least </label>
                                    <label class="mb-0 pb-0 font-18 font-weight-bold text-black mb-2" for="yourName">0.11 BNB (~$266) </label>
                                </div>
                                <input type="text" class="form-control input-sec font-16 fontweight-400" placeholder="Place your Bid">
                            </div>

                            <div class="text-center">
                                <button class="btn  mt-4 mr-3">
                                Never Mind</button>
                                <button class="btn fontweight-500 default-btn mt-4">
                                Submit Bid</button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
