<!-- Footer -->
<footer id="footer">
  <div class="container">
    <div class="footer">
      <div class="left_part">
        <p>Copyright 2022 — Designed &amp; Developed by <a href="https://themeforest.net/user/frenify/portfolio" target="_blank">aida</a></p>
      </div>
      <div class="right_part">
        <ul>
          <li><a class="creative_link" href="privacy-policy.html">Privacy Policy</a></li>
          <li><a class="creative_link" href="cookies.html">Cookies</a></li>
          <li><a class="creative_link" href="terms-conditions.html">Terms &amp; Conditions</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
<!-- !Footer -->

<!--<footer class="footer-sec">-->
<!--    <div class="container">-->
<!--      <div class="row">-->
<!--        <div class="col-lg-3"> <img src="assets/images/logo.png" class="img-fluid mb-4">-->
<!--          <p>{{footer}}</p>-->
<!--        </div>-->
<!--        <div class="col-lg-3">-->
<!--          <h3 class="footer-heading">Community</h3>-->
<!--          <ul>-->
<!--            <li><a href="">Editorial</a></li>-->
<!--            <li><a href="">Discord</a></li>-->
<!--            <li><a href="">Instagram</a></li>-->
<!--            <li><a href="">Twitter</a></li>-->
<!--            <li><a [routerLink]="'/blogs'">Blog</a></li>-->
<!--            <li><a href="">Help center</a></li>-->
<!--          </ul>-->
<!--        </div>-->
<!--        <div class="col-lg-3">-->
<!--          <h3 class="footer-heading">Join Us</h3>-->
<!--          <ul>-->
<!--            <li><a href="">Become a Creator</a></li>-->
<!--            <li><a href="">Become a User</a></li>-->
<!--          </ul>-->
<!--        </div>-->
<!--        <div class="col-lg-3">-->
<!--          <h3 class="footer-heading">Legal</h3>-->
<!--          <ul>-->
<!--            <li><a href="">Community Guidelines</a></li>-->
<!--            <li><a href="">Terms Of Services</a></li>-->
<!--            <li><a [routerLink]="'/privacy'">Privacy Policy</a></li>-->
<!--            <li><a href="">Report Content</a></li>-->
<!--          </ul>-->
<!--        </div>-->
<!--        <div class="col-lg-12 d-flex justify-content-center copyrights-cnt">-->
<!--          <p>© 2021 ingress defi Networks, Inc</p>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--</footer>-->
<!-- -->
