

<!--&lt;!&ndash; Preloader &ndash;&gt;-->
<!--<div class="metaportal_fn_preloader">-->
<!--  <div class="loading-container">-->
<!--    <div class="loading">-->
<!--      <div class="l1">-->
<!--        <div></div>-->
<!--      </div>-->
<!--      <div class="l2">-->
<!--        <div></div>-->
<!--      </div>-->
<!--      <div class="l3">-->
<!--        <div></div>-->
<!--      </div>-->
<!--      <div class="l4">-->
<!--        <div></div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
<!--&lt;!&ndash; !Preloader &ndash;&gt;-->

<!-- Left Navigation -->
<div class="metaportal_fn_leftnav_closer ready"></div>
<div class="metaportal_fn_leftnav ready">
  <a href="#" class="fn__closer"><span></span></a>
  <div class="navbox">
    <div class="list_holder">
      <ul class="metaportal_fn_items">
        <li>
          <div class="item">
            <a href="https://opensea.io/" target="_blank"></a>
            <span class="icon">
							<img src="img/market/opensea.png" alt="">
						</span>
            <span class="text">Opensea</span>
          </div>
        </li>
        <li>
          <div class="item">
            <a href="https://discord.com/" target="_blank"></a>
            <span class="icon">
							<img src="img/market/discord.png" alt="">
						</span>
            <span class="text">Discord</span>
          </div>
        </li>
      </ul>
    </div>
    <div class="nav_holder">

      <!-- For JS -->
      <span class="icon">
				<img src="svg/down.svg" alt="" class="fn__svg">
			</span>
      <!-- For JS -->

      <ul>
        <li><a href="index.html"><span class="creative_link">Home</span></a></li>
        <!--				<li><a href="nft-single.html"><span class="creative_link">Mint Page</span></a></li>-->
        <li><a href="collection.html"><span class="creative_link">Collection</span></a></li>
        <li>
          <a href="#">
            <span class="creative_link">Pages<img src="svg/down.svg" alt="" class="fn__svg"></span>
          </a>
          <ul class="sub-menu">
            <li><a href="coming-soon.html"><span class="creative_link">Coming Soon</span></a></li>
            <li><a href="404.html"><span class="creative_link">404 Page</span></a></li>
            <li><a href="protected.html"><span class="creative_link">Protected Page</span></a></li>
            <li><a href="no-results.html"><span class="creative_link">Search No Results</span></a></li>
            <li>
              <a href="#">
                <span class="creative_link">More<img src="svg/down.svg" alt="" class="fn__svg"></span>
              </a>
              <ul class="sub-menu">
                <li><a href="cookies.html"><span class="creative_link">Cookies</span></a></li>
                <li><a href="privacy-policy.html"><span class="creative_link">Privacy Policy</span></a></li>
                <li><a href="terms-conditions.html"><span class="creative_link">Terms &amp; Conditions</span></a></li>
              </ul>
            </li>
          </ul>
        </li>
        <li><a href="blog.html"><span class="creative_link">Blog</span></a></li>
        <li><a href="blog-single.html"><span class="creative_link">Blog Single</span></a></li>
      </ul>
    </div>
    <div class="info_holder">
      <div class="copyright">
        <p>Copyright 2022 - Designed &amp; Developed by <a href="https://themeforest.net/user/frenify/portfolio" target="_blank">aida allahverdi</a></p>
      </div>
      <div class="social_icons">
        <ul>
          <li><a href="#"><img src="svg/social/twitter-1.svg" alt="" class="fn__svg"></a></li>
          <li><a href="#"><img src="svg/social/facebook-1.svg" alt="" class="fn__svg"></a></li>
          <li><a href="#"><img src="svg/social/instagram-1.svg" alt="" class="fn__svg"></a></li>
          <li><a href="#"><img src="svg/social/pinterest-1.svg" alt="" class="fn__svg"></a></li>
          <li><a href="#"><img src="svg/social/behance-1.svg" alt="" class="fn__svg"></a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<!-- !Left Navigation -->


<!-- Searchbox Popup -->
<div class="metaportal_fn_search_closer"></div>
<div class="metaportal_fn_searchbox">
  <div class="container small">
    <div class="searchbox">
      <input type="text" placeholder="Search here...">
      <a href="#">
        <img src="svg/loupe.svg" alt="" class="fn__svg">
      </a>
    </div>
  </div>
</div>
<!-- !Searchbox Popup -->

<!-- Wallet Popup -->
<div class="metaportal_fn_wallet_closer ready"></div>
<div class="metaportal_fn_walletbox ready">
  <a href="#" class="fn__closer"><span></span></a>
  <div class="walletbox">

    <div class="title_holder">
      <h3>Connect Wallet</h3>
      <p>Connect with one of our available wallet providers or create a new one.</p>
    </div>

    <div class="list_holder">
      <ul class="metaportal_fn_items">
        <li>
          <div class="item">
            <a href="#"></a>
            <span class="icon">
							<img src="img/wallet/metamask.png" alt="">
						</span>
            <span class="text">Metamask</span>
          </div>
        </li>
        <!--				<li>-->
        <!--					<div class="item">-->
        <!--						<a href="#"></a>-->
        <!--						<span class="icon">-->
        <!--							<img src="img/wallet/coinbase.png" alt="">-->
        <!--						</span>-->
        <!--						<span class="text">Coinbase</span>-->
        <!--					</div>-->
        <!--				</li>-->
        <li>
          <div class="item">
            <a href="#"></a>
            <span class="icon">
							<img src="img/wallet/walletconnect.png" alt="">
						</span>
            <span class="text">WalletConnect</span>
          </div>
        </li>
        <!--				<li>-->
        <!--					<div class="item">-->
        <!--						<a href="#"></a>-->
        <!--						<span class="icon">-->
        <!--							<img src="img/wallet/venly.png" alt="">-->
        <!--						</span>-->
        <!--						<span class="text">Venly</span>-->
        <!--					</div>-->
        <!--				</li>-->
      </ul>
    </div>

  </div>
</div>
<!-- !Wallet Popup -->

<!-- Main -->
<div class="metaportal_fn_main">

  <!-- Mobile Navigation -->
  <div class="metaportal_fn_mobnav">
    <div class="mob_top">
      <div class="social_trigger">
        <div class="trigger">
          <span></span>
        </div>
        <div class="social">
          <ul>
            <li><a href="https://www.facebook.com/" target="_blank">Fb.</a></li>
            <li><a href="https://www.twitter.com/" target="_blank">Tw.</a></li>
            <li><a href="https://www.instagram.com/" target="_blank">In.</a></li>
            <li><a href="https://www.linkedin.com/" target="_blank">Ln.</a></li>
          </ul>
        </div>
      </div>
      <div class="wallet">
        <a href="#" class="metaportal_fn_button wallet_opener"><span>Wallet</span></a>
      </div>
    </div>
    <div class="mob_mid">
      <div class="logo">
        aida
        <!--				<a href="index.html"><img src="img/logosia.png" alt=""></a>-->
      </div>
      <div class="trigger">
        <span></span>
      </div>
    </div>
    <div class="mob_bot">
      <ul>
        <li><a class="creative_link" href="#home">Home</a></li>
        <li><a class="creative_link" href="#about">About</a></li>
        <li><a class="creative_link" href="#collection">Collection</a></li>
        <li><a class="creative_link" href="#news">Blog</a></li>
        <li><a class="creative_link" href="#contact">Contact</a></li>
      </ul>
    </div>
  </div>
  <!-- !Mobile Navigation -->

  <!-- Header -->
  <header id="header">
    <div class="header">
      <div class="header_in">

        <div class="trigger_logo">
          <div class="trigger">
            <span></span>
          </div>
          <div class="logo">
            aida
            <!--						<a href="index.html"><img src="img/logo.png" alt=""></a>-->
          </div>
        </div>

        <div class="nav">
          <ul>
            <li><a class="creative_link" href="#home">Home</a></li>
            <li><a class="creative_link" href="#about">About</a></li>
            <li><a class="creative_link" href="#collection">Collection</a></li>
            <li><a class="creative_link" href="#news">Blog</a></li>
            <li><a class="creative_link" href="#contact">Contact</a></li>
          </ul>
        </div>

        <div class="wallet">
          <a href="#" class="metaportal_fn_button wallet_opener"><span>Connect To Wallet</span></a>
        </div>

      </div>
    </div>
  </header>
  <!-- !Header -->

  <!-- Content -->
  <div class="metaportal_fn_content">

    <!-- Home Section -->
    <section id="home">
      <div class="container">

        <h3 class="fn__maintitle big" data-text="IngressDefi Legends "data-align="center">IngressDefi Legends</h3>



        <!-- Slider -->
        <div class="fn_cs_slider" data-responsive="on">
          <div class="slider_top">
            <img src="assets/img/1x1.jpg" alt="">
            <ul>
              <li class="prev" data-index="1">
                <div class="item">
                  <img src="assets/img/1x1.jpg" alt="">
                  <div class="item_in">
                    <div class="img" data-bg-img="assets/img/slider/1.jpeg"></div>
                  </div>
                </div>
              </li>
              <li class="active" data-index="2">
                <div class="item">
                  <img src="assets/img/1x1.jpg" alt="">
                  <div class="item_in">
                    <div class="img" data-bg-img="assets/img/slider/2.jpeg"></div>
                  </div>
                </div>
              </li>
              <li class="next" data-index="3">
                <div class="item has_video">
                  <img src="assets/img/1x1.jpg" alt="">
                  <a class="popup-youtube metaportal_fn_videobutton" href="https://www.youtube.com/watch?v=7e90gBu4pas">
                    <img src="assets/svg/play.svg" alt="" class="fn__svg">
                  </a>
                  <div class="item_in">
                    <div class="img" data-bg-img="assets/img/slider/3.jpeg"></div>
                  </div>
                </div>
              </li>
              <li class="next2" data-index="4">
                <div class="item">
                  <img src="assets/img/1x1.jpg" alt="">
                  <div class="item_in">
                    <div class="img" data-bg-img="assets/img/slider/1/1.jpg"></div>
                  </div>
                </div>
              </li>
              <li data-index="5">
                <div class="item">
                  <img src="assets/img/1x1.jpg" alt="">
                  <div class="item_in">
                    <div class="img" data-bg-img="assets/img/slider/5.jpeg"></div>
                  </div>
                </div>
              </li>
              <li data-index="6">
                <div class="item">
                  <img src="assets/img/1x1.jpg" alt="">
                  <div class="item_in">
                    <div class="img" data-bg-img="assets/img/slider/6.jpeg"></div>
                  </div>
                </div>
              </li>
              <li class="prev2" data-index="7">
                <div class="item">
                  <img src="assets/img/1x1.jpg" alt="">
                  <div class="item_in">
                    <div class="img" data-bg-img="assets/img/slider/7.jpeg"></div>
                  </div>
                </div>
              </li>
            </ul>
          </div>
          <div class="slider_nav">
            <a href="#" class="prev">
              <span class="circle"></span>
              <span class="icon"><img src="assets/svg/down.svg" alt="" class="fn__svg"></span>
              <span class="circle"></span>
            </a>
            <a href="#" class="next">
              <span class="circle"></span>
              <span class="icon"><img src="assets/svg/down.svg" alt="" class="fn__svg"></span>
              <span class="circle"></span>
            </a>
          </div>
        </div>
        <!-- !Slider -->

        <!-- Description -->
        <div class="fn_cs_desc">
          <p>ingressDEfi Legends represent a collection of 17,000 legends categorized by level of rarity and generated with hundreds of elements. The Legends are stored as ERC-721 tokens on the Ethereum blockchain and hosted on IPFS.</p>
          <a href="https://opensea.io/" class="metaportal_fn_button" target="_blank"><span>Buy On our platform</span></a>
        </div>
        <!-- !Description -->


      </div>
    </section>
    <!-- !Home Section -->

    <!-- Fun Facts -->
    <section id="fun_facts">
      <div class="container">

        <div class="fn_cs_counter_list">
          <ul>
            <li>
              <div class="item">
                <h3 class="fn__gradient_title">
                  <span class="prefix"></span>
                  <span class="fn_cs_counter" data-from="0" data-to="9999" data-speed="3000" data-decimals="0">0</span>
                  <span class="suffix"></span>
                </h3>
                <p>Total Items</p>
                <div class="divider"></div>
              </div>
            </li>
            <li>
              <div class="item">
                <h3 class="fn__gradient_title">
                  <span class="prefix"></span>
                  <span class="fn_cs_counter" data-from="0" data-to="3.9" data-speed="3000" data-decimals="1">0</span>
                  <span class="suffix">k+</span>
                </h3>
                <p>Total Owners</p>
                <div class="divider"></div>
              </div>
            </li>
            <li>
              <div class="item">
                <h3 class="fn__gradient_title">
                  <span class="prefix"></span>
                  <span class="fn_cs_counter" data-from="0" data-to="2.4" data-speed="3000" data-decimals="1">0</span>
                  <span class="suffix"></span>
                </h3>
                <p>Floor Price (ETH)</p>
                <div class="divider"></div>
              </div>
            </li>
            <li>
              <div class="item">
                <h3 class="fn__gradient_title">
                  <span class="prefix"></span>
                  <span class="fn_cs_counter" data-from="0" data-to="144" data-speed="3000" data-decimals="0">0</span>
                  <span class="suffix">k+</span>
                </h3>
                <p>Volume Traded (ETH)</p>
                <div class="divider"></div>
              </div>
            </li>
          </ul>
        </div>

      </div>
    </section>
    <!-- !Fun Facts -->

    <!-- About Section -->
    <section id="about">

      <!-- About Shortcode -->
      <div class="fn_cs_about">
        <div class="left_part">
          <div class="img">
            <div class="img_in" data-bg-img="img/about/Rectangle 50.png"><img src="img/1x1.jpg" alt=""></div>
          </div>
          <div class="bg_overlay">
            <div class="bg_color"></div>
            <div class="bg_image" data-bg-img="img/about/bg.jpg"></div>
          </div>
        </div>
        <div class="right_part">
          <div class="right_in">
            <h3 class="fn__maintitle" data-text="The Rise of Legends">The Rise of Legends</h3>
            <div class="fn_cs_divider">
              <div class="divider">
                <span></span>
                <span></span>
              </div>
            </div>
            <div class="desc">
              <p>As the first hero of the Meta Legends, collection has over 9,999 unique skins drawn from the different missions and challenges he faced throughout his life.</p>
              <p>The artwork has been hand-drawned by Robert Green in the traditional anime style and composited by Layla Efiyo.</p>
              <p>Curabitur pharetra velit eget dignissim varius. In vulputate elit at tortor pellentesque, non pulvinar neque consequat. Aenean tristique odio in libero tincidunt maximus. Nulla pharetra viverra dolor ut blandit. Cras finibus vel tortor eget lacinia. Pellentesque interdum elit non lacinia faucibus. Morbi nec felis auctor, tincidunt lacus sit amet, iaculis ipsum. Phasellus tempus sit amet justo et feugiat. Duis blandit semper lorem, egestas euismod ligula pharetra ac. Sed porta lorem eget neque bibendum, eget euismod justo mollis.</p>
              <p>Donec tristique porttitor sem, eget fermentum elit varius nec. Donec ut orci ipsum. Morbi efficitur felis eget dapibus fermentum. Phasellus sed tellus volutpat, hendrerit leo non, sollicitudin neque. Etiam ac lacus quam. Vivamus suscipit nisl tellus, at congue odio commodo at. Cras ante enim, sodales at pretium et, tempus at libero.</p>
            </div>
            <a href="https://discord.com/" class="metaportal_fn_button" target="_blank"><span>Find us On Discord</span></a>
          </div>
        </div>
      </div>
      <!-- !About Shortcode -->


      <div class="container">
        <!-- Mint Shortcode -->
        <div class="fn_cs_mint">
          <div class="left_part">
            <h3 class="fn__maintitle" data-text="How to Trade">How to Trade</h3>
            <div class="fn_cs_divider">
              <div class="divider">
                <span></span>
                <span></span>
              </div>
            </div>
            <div class="desc">
              <p>As the first hero of the Meta Legends, collection has over 9,999 unique skins drawn from the different missions and challenges he faced throughout his life.</p>
              <p>The artwork has been hand-drawned by Robert Green in the traditional anime style and composited by Layla Efiyo.</p>
              <p>Curabitur pharetra velit eget dignissim varius. In vulputate elit at tortor pellentesque, non pulvinar neque consequat. Aenean tristique odio in libero tincidunt maximus. Nulla pharetra viverra dolor ut blandit. Cras finibus vel tortor eget lacinia. Pellentesque interdum elit non lacinia faucibus. Morbi nec felis auctor, tincidunt lacus sit amet, iaculis ipsum. Phasellus tempus sit amet justo et feugiat. Duis blandit semper lorem, egestas euismod ligula pharetra ac. Sed porta lorem eget neque bibendum, eget euismod justo mollis.</p>
              <p>Donec tristique porttitor sem, eget fermentum elit varius nec. Donec ut orci ipsum. Morbi efficitur felis eget dapibus fermentum. Phasellus sed tellus volutpat, hendrerit leo non, sollicitudin neque. Etiam ac lacus quam. Vivamus suscipit nisl tellus, at congue odio commodo at. Cras ante enim, sodales at pretium et, tempus at libero.</p>
            </div>
            <a href="nft-single.html" class="metaportal_fn_button"><span>How to Trade</span></a>
          </div>

          <div class="right_part">

            <!-- Steps Shortcode -->
            <div class="fn_cs_steps">
              <ul>
                <li>
                  <div class="item">
                    <div class="item_in">
                      <h3 class="fn__gradient_title">01</h3>
                      <p>Connect your Wallet</p>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="item">
                    <div class="item_in">
                      <h3 class="fn__gradient_title">02</h3>
                      <p>Select Your Quantity</p>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="item">
                    <div class="item_in">
                      <h3 class="fn__gradient_title">03</h3>
                      <p>Confirm The Transaction</p>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="item">
                    <div class="item_in">
                      <h3 class="fn__gradient_title">04</h3>
                      <p>Receive Your NFT’s</p>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
            <!-- !Steps Shortcode -->

            <!-- Video Shortcode -->
            <div class="fn_cs_video">
              <img src="img/video/1.jpg" alt="">
              <a class="popup-youtube" href="https://www.youtube.com/watch?v=7e90gBu4pas">
                <img src="svg/play.svg" alt="" class="fn__svg">
              </a>
            </div>
            <!-- /Video Shortcode -->

          </div>

        </div>
        <!-- !Mint Shortcode -->
      </div>

    </section>
    <!-- !About Section -->


    <!-- Section Divider -->
    <div class="fn_cs_section_divider">
      <div class="divider">
        <span class="short"></span>
        <span class="long"></span>
        <span class="short"></span>
      </div>
    </div>
    <!-- !Section Divider -->

    <!-- Collection Section -->
    <section id="collection">
      <div class="container">

        <h3 class="fn__maintitle big" data-text="Our Collection" data-align="center">Our Collection</h3>

        <div class="fn_cs_collection">
          <div class="collection_top">
            <div class="item">
              <div class="item_in">
                <div class="img">
                  <div class="abs_img" data-bg-img="img/collection/1.jpg"></div>
                  <img src="img/1x1.jpg" alt="">
                </div>
              </div>
              <input type="hidden" value="img/collection/1.jpg">
            </div>
            <div class="item">
              <div class="item_in">
                <div class="img">
                  <div class="abs_img" data-bg-img="img/collection/2.jpg"></div>
                  <img src="img/1x1.jpg" alt="">
                </div>
              </div>
              <input type="hidden" value="img/collection/2.jpg">
            </div>
            <div class="item">
              <div class="item_in">
                <div class="img">
                  <div class="abs_img" data-bg-img="img/collection/3.jpg"></div>
                  <img src="img/1x1.jpg" alt="">
                </div>
              </div>
              <input type="hidden" value="img/collection/3.jpg">
            </div>
            <div class="item">
              <div class="item_in">
                <div class="img">
                  <div class="abs_img" data-bg-img="img/collection/4.jpg"></div>
                  <img src="img/1x1.jpg" alt="">
                </div>
              </div>
              <input type="hidden" value="img/collection/4.jpg">
            </div>
          </div>
          <div class="collection_bottom">
            <div class="item">
              <div class="item_in">
                <div class="img">
                  <div class="abs_img" data-bg-img="img/collection/5.jpg"></div>
                  <img src="img/1x1.jpg" alt="">
                </div>
              </div>
              <input type="hidden" value="img/collection/5.jpg">
            </div>
            <div class="item">
              <div class="item_in">
                <div class="img">
                  <div class="abs_img" data-bg-img="img/collection/6.jpg"></div>
                  <img src="img/1x1.jpg" alt="">
                </div>
              </div>
              <input type="hidden" value="img/collection/6.jpg">
            </div>
            <div class="item">
              <div class="item_in">
                <div class="img">
                  <div class="abs_img" data-bg-img="img/collection/7.jpg"></div>
                  <img src="img/1x1.jpg" alt="">
                </div>
              </div>
              <input type="hidden" value="img/collection/7.jpg">
            </div>
            <div class="item">
              <div class="item_in">
                <div class="img">
                  <div class="abs_img" data-bg-img="img/collection/8.jpg"></div>
                  <img src="img/1x1.jpg" alt="">
                </div>
              </div>
              <input type="hidden" value="img/collection/8.jpg">
            </div>
          </div>
        </div>

        <div class="fn_cs_desc">
          <p>Meta Legends represent a collection of 17,000 legends categorized by level of rarity and generated with hundreds of elements. The Legends are stored as ERC-721 tokens on the Ethereum blockchain and hosted on IPFS.</p>
          <a href="collection.html" class="metaportal_fn_button"><span>See All Collection</span></a>
        </div>

      </div>
    </section>
    <!-- !Collection Section -->


    <!-- Section Divider -->
    <div class="fn_cs_section_divider">
      <div class="divider">
        <span class="short"></span>
        <span class="long"></span>
        <span class="short"></span>
      </div>
    </div>
    <!-- !Section Divider -->


    <!-- Section RoadMap -->
    <section id="roadmap">
      <div class="container">

        <h3 class="fn__maintitle big" data-text="RoadMap" data-align="center">RoadMap</h3>

        <div class="fn_cs_roadmap">
          <div class="step_holder">
            <div class="step_in"></div>
          </div>
          <div class="slider_holder">
            <div class="swiper-container">
              <div class="swiper-wrapper">
                <div class="swiper-slide">
                  <div class="item">
                    <span class="icon"></span>
                    <span class="phase">Phase 01</span>
                    <div class="item_in">
                      <p class="date">October 09, 2022</p>
                      <h3 class="title">Mini Game Lounch For Community</h3>
                      <p class="desc">Morbi non dignissim erat, a blandit felis. Suspendisse nec lorem vel orci varius congue ut vitae est. Nam quis tempus nisl. Fusce posuere nibh a mi molestie, sit amet ornare lectus interdum.</p>
                    </div>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="item">
                    <span class="icon"></span>
                    <span class="phase">Phase 02</span>
                    <div class="item_in">
                      <p class="date">October 17, 2022</p>
                      <h3 class="title">New Set #12 is Coming Up</h3>
                      <p class="desc">Morbi non dignissim erat, a blandit felis. Suspendisse nec lorem vel orci varius congue ut vitae est. Nam quis tempus nisl. Fusce posuere nibh a mi molestie, sit amet ornare lectus interdum.</p>
                    </div>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="item">
                    <span class="icon"></span>
                    <span class="phase">Phase 03</span>
                    <div class="item_in">
                      <p class="date">October 28, 2022</p>
                      <h3 class="title">Metaverse 3.0 Launch</h3>
                      <p class="desc">Morbi non dignissim erat, a blandit felis. Suspendisse nec lorem vel orci varius congue ut vitae est. Nam quis tempus nisl. Fusce posuere nibh a mi molestie, sit amet ornare lectus interdum.</p>
                    </div>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="item">
                    <span class="icon"></span>
                    <span class="phase">Phase 04</span>
                    <div class="item_in">
                      <p class="date">November 11, 2022</p>
                      <h3 class="title">Female Set #20 is Coming Up</h3>
                      <p class="desc">Morbi non dignissim erat, a blandit felis. Suspendisse nec lorem vel orci varius congue ut vitae est. Nam quis tempus nisl. Fusce posuere nibh a mi molestie, sit amet ornare lectus interdum.</p>
                    </div>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="item">
                    <span class="icon"></span>
                    <span class="phase">Phase 05</span>
                    <div class="item_in">
                      <p class="date">November 23, 2022</p>
                      <h3 class="title">Mini Game Lounch For Community</h3>
                      <p class="desc">Morbi non dignissim erat, a blandit felis. Suspendisse nec lorem vel orci varius congue ut vitae est. Nam quis tempus nisl. Fusce posuere nibh a mi molestie, sit amet ornare lectus interdum.</p>
                    </div>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="item">
                    <span class="icon"></span>
                    <span class="phase">Phase 06</span>
                    <div class="item_in">
                      <p class="date">December 02, 2022</p>
                      <h3 class="title">Mini Game Lounch For Community</h3>
                      <p class="desc">Morbi non dignissim erat, a blandit felis. Suspendisse nec lorem vel orci varius congue ut vitae est. Nam quis tempus nisl. Fusce posuere nibh a mi molestie, sit amet ornare lectus interdum.</p>
                    </div>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="item">
                    <span class="icon"></span>
                    <span class="phase">Phase 07</span>
                    <div class="item_in">
                      <p class="date">January 14, 2023</p>
                      <h3 class="title">Mini Game Lounch For Community</h3>
                      <p class="desc">Morbi non dignissim erat, a blandit felis. Suspendisse nec lorem vel orci varius congue ut vitae est. Nam quis tempus nisl. Fusce posuere nibh a mi molestie, sit amet ornare lectus interdum.</p>
                    </div>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="item">
                    <span class="icon"></span>
                    <span class="phase">Phase 08</span>
                    <div class="item_in">
                      <p class="date">January 28, 2023</p>
                      <h3 class="title">Mini Game Lounch For Community</h3>
                      <p class="desc">Morbi non dignissim erat, a blandit felis. Suspendisse nec lorem vel orci varius congue ut vitae est. Nam quis tempus nisl. Fusce posuere nibh a mi molestie, sit amet ornare lectus interdum.</p>
                    </div>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="item">
                    <span class="icon"></span>
                    <span class="phase">Phase 09</span>
                    <div class="item_in">
                      <p class="date">February 12, 2023</p>
                      <h3 class="title">Mini Game Lounch For Community</h3>
                      <p class="desc">Morbi non dignissim erat, a blandit felis. Suspendisse nec lorem vel orci varius congue ut vitae est. Nam quis tempus nisl. Fusce posuere nibh a mi molestie, sit amet ornare lectus interdum.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </section>
    <!-- !Section RoadMap -->


    <!-- Section Divider -->
    <div class="fn_cs_section_divider">
      <div class="divider">
        <span class="short"></span>
        <span class="long"></span>
        <span class="short"></span>
      </div>
    </div>
    <!-- !Section Divider -->


    <!-- Section News -->
    <section id="news">
      <div class="container">

        <h3 class="fn__maintitle big" data-text="Latest Articles" data-align="center">Latest Articles</h3>

        <!-- News Shotcode -->
        <div class="fn_cs_news">
          <div class="news_part">
            <div class="left_items">
              <div class="blog__item">
                <div class="counter">
                  <span class="cc"><span>01</span></span>
                </div>
                <div class="meta">
                  <p>August 09, 2022  /  MetaVerse  /  4 Comments</p>
                </div>
                <div class="title">
                  <h3><a href="blog-single.html">------</a></h3>
                </div>
                <div class="image">
                  <a href="blog-single.html">
                    <img src="img/blog/1.jpg" alt="">
                  </a>
                </div>
                <div class="read_more">
                  <a href="blog-single.html"><span>Read More</span></a>
                </div>
              </div>
            </div>
            <div class="right_items">
              <div class="blog__item">
                <div class="counter">
                  <span class="cc"><span>02</span></span>
                </div>
                <div class="meta">
                  <p>August 09, 2022  /  MetaVerse  /  4 Comments</p>
                </div>
                <div class="title">
                  <h3><a href="blog-single.html">Trial-By-Combat: The Death Cup</a></h3>
                </div>
                <div class="read_more">
                  <a href="blog-single.html"><span>Read More</span></a>
                </div>
              </div>
              <div class="blog__item">
                <div class="counter">
                  <span class="cc"><span>03</span></span>
                </div>
                <div class="meta">
                  <p>August 09, 2022  /  NFT  /  4 Comments</p>
                </div>
                <div class="title">
                  <h3><a href="blog-single.html">Graffiti Racer Research Center #10</a></h3>
                </div>
                <div class="read_more">
                  <a href="blog-single.html"><span>Read More</span></a>
                </div>
              </div>
              <div class="blog__item">
                <div class="counter">
                  <span class="cc"><span>04</span></span>
                </div>
                <div class="meta">
                  <p>August 09, 2022  /  MetaVerse  /  4 Comments</p>
                </div>
                <div class="read_more">
                  <a href="blog-single.html"><span>Read More</span></a>
                </div>
              </div>
            </div>
          </div>
          <div class="bottom_part">
            <div class="left_bot">
              <a href="blog.html" class="metaportal_fn_button full"><span>Read All Articles</span></a>
            </div>
            <div class="right_bot">
              <p>We’re a team of creatives who are excited about unique ideas and create consectetur adipiscing elit. Etiam vitae purus a lectus semper.</p>
            </div>
          </div>
        </div>
        <!-- !News Shotcode -->

      </div>
    </section>
    <!-- !Section News -->


    <!-- Section Divider -->
    <div class="fn_cs_section_divider">
      <div class="divider">
        <span class="short"></span>
        <span class="long"></span>
        <span class="short"></span>
      </div>
    </div>
    <!-- !Section Divider -->


    <!-- Section -->
    <section id="contact">
      <div class="container">

        <h3 class="fn__maintitle big" data-text="Contact Us" data-align="center">Contact Us</h3>

        <div class="fn_cs_contact_info">
          <ul>
            <li>
              <div class="item">
                <p>Duis suscipit egestas ullamcorper. Cras porta nulla et tristique pellentesque. Praesent finibus mauris eu sollicitudin interdum. Morbi et blandit quam. Donec vitae massa purus. Curabitur nunc mauris, iaculis a nibh at, ultricies sodales dolor.</p>
                <p>Curabitur pharetra velit eget dignissim varius. In vulputate elit at tortor pellentesque, non pulvinar neque consequat.</p>
              </div>
            </li>
            <li>
              <div class="item">
                <h4 class="label">Phone</h4>
                <h3><a href="tel:+393505222533">+39 350 5222533</a></h3>
                <h4 class="lable">Email</h4>
                <h3><a href="mailto:akbarzadehsiavash@gmail.com">akbarzadehsiavash@gmail.com</a></h3>
              </div>
            </li>
            <li>
              <div class="item">
                <h4 class="label">Office</h4>
                <h3>via calpurnio pisone 80</h3>
              </div>
            </li>
          </ul>
        </div>

        <div class="fn_cs_contact_form">
          <form action="/" method="post" class="contact_form" id="contact_form" autocomplete="off">
            <div class="input_list">
              <ul>
                <li>
                  <input id="name" type="text" placeholder="Your Name *" />
                </li>
                <li>
                  <input id="email" type="text" placeholder="Your Email *" />
                </li>
                <li>
                  <input id="tel" type="text" placeholder="Your Phone (optional)" />
                </li>
                <li>
                  <input id="subject" type="text" placeholder="Topic (optional)" />
                </li>
                <li class="full">
                  <textarea id="message" placeholder="Your Message *"></textarea>
                </li>
                <li class="full">
                  <label class="fn__checkbox">
                    <input type="checkbox">
                    <span class="fn__checkmark">
											<img src="svg/checked.svg" alt="" class="fn__svg">
										</span>
                    <p>I’m okay with getting emails and having that activity tracked to improve my experience.</p>
                  </label>
                  <div class="mw300">
                    <a id="send_message" href="#" class="metaportal_fn_button full">
                      <span>Send Message</span>
                    </a>
                  </div>

                </li>
              </ul>
            </div>
            <div class="returnmessage" data-success="Your message has been received, We will contact you soon."></div>
            <div class="empty_notice"><span>! Please Fill Required Fields !</span></div>
          </form>
        </div>

      </div>
    </section>


    <!-- Footer -->
    <footer id="footer">
      <div class="container">
        <div class="footer">
          <div class="left_part">
            <p>Copyright 2022 — Designed &amp; Developed by <a href="https://themeforest.net/user/frenify/portfolio" target="_blank">aida</a></p>
          </div>
          <div class="right_part">
            <ul>
              <li><a class="creative_link" href="privacy-policy.html">Privacy Policy</a></li>
              <li><a class="creative_link" href="cookies.html">Cookies</a></li>
              <li><a class="creative_link" href="terms-conditions.html">Terms &amp; Conditions</a></li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
    <!-- !Footer -->

  </div>
  <!-- !Content -->


  <!-- Social -->
  <div id="social">
    <div class="social">
      <h4 class="title">Follow Us:</h4>
      <ul>
        <li><a href="https://www.facebook.com/" target="_blank">Fb.</a></li>
        <li><a href="https://www.twitter.com/" target="_blank">Tw.</a></li>
        <li><a href="https://www.instagram.com/" target="_blank">In.</a></li>
        <li><a href="https://www.linkedin.com/" target="_blank">Ln.</a></li>
      </ul>
    </div>
  </div>
  <!-- !Social -->


  <!-- Totop -->
  <a href="#" class="metaportal_fn_totop">
		<span class="totop_inner">
			<span class="icon">
				<img src="svg/down.svg" alt="" class="fn__svg">
			</span>
			<span class="text">Scroll To Top</span>
		</span>
  </a>
  <!-- /Totop -->

  <!-- Search Button -->
  <a href="#" class="metaportal_fn_search">
		<span class="icon">
			<img src="svg/loupe.svg" alt="" class="fn__svg">
		</span>
  </a>
  <!-- !Search Button -->


</div>
<!-- !Main -->


<app-header></app-header>
<section class="banner-cnt">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 d-flex align-items-center">
        <div>
          <h3>Create Buy & Sell </h3>
          <button class="btn default-btn mt-3" (click)="goto()">Start Collecting</button>
        </div>
      </div>
      <div class="col-lg-7 astro-cnt">
        <img src="assets/images/banner-background.png" class="img-fluid vert-move">
        <img src="assets/images/astronaut.png" class="img-fluid astronaut vert-move1">
      </div>
    </div>
  </div>
</section>
<section class="digital-art-sec" *ngIf="cmsContent.length">
  <div class="container">
    <h3 class="section-title mb-1">{{cmsContent[1].title}}</h3>
    <p class="section-subtitle mb-5">{{cmsContent[1].pagecontent}}</p>
    <div class="row">
      <div class="col-lg-4">
        <div class="art-cnt d-flex flex-column justify-content-center align-items-center">
          <div class="img-cnt"><img src="assets/images/tokenized-icon.png"></div>
          <h3>{{cmsContent[2].title}}</h3>
          <p>{{cmsContent[2].pagecontent}}</p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="art-cnt d-flex flex-column justify-content-center align-items-center">
          <div class="img-cnt"><img src="assets/images/buy-sell-icon.png"></div>
          <h3>{{cmsContent[3].title}}</h3>
          <p>{{cmsContent[3].pagecontent}}</p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="art-cnt d-flex flex-column justify-content-center align-items-center">
          <div class="img-cnt"><img src="assets/images/showcase-icon.png"></div>
          <h3>{{cmsContent[4].title}}</h3>
          <p>{{cmsContent[4].pagecontent}}</p>
        </div>
      </div>
      <div class="col-lg-12 d-flex justify-content-center mt-5">
        <button class="btn default-btn" (click)="goto()">Start Collecting</button>
      </div>
    </div>
  </div>
</section>
<section class="blog-sec" *ngIf="blogContent.sucs">
  <div class="container">
    <h3 class="section-title mb-5">Blog</h3>
    <div class="row">
      <div class="col-lg-6">
        <div class="blog-sec-cnt" (click)="myFunc(blogContent[0].blogId)"> <img src="{{blogContent[0].image}}" class="img-fluid">
          <h3 class="lg-txt">{{blogContent[0].title}}</h3>
          <p [innerHTML]=blogContent[0].pagecontent></p>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="blog-sec-cnt" (click)="myFunc(blogContent[1].blogId)">
          <div class="d-lg-flex align-items-center"> <img src="{{blogContent[1].image}}" class="img-fluid mr-lg-3">
            <div>
              <h3 class="lg-txt">{{blogContent[1].title}}</h3>
              <p [innerHTML]=blogContent[1].pagecontent></p>
            </div>
          </div>
        </div>
        <div class="blog-sec-cnt" (click)="myFunc(blogContent[2].blogId)">
          <div class="d-lg-flex align-items-center"> <img src="{{blogContent[2].image}}" class="img-fluid mr-lg-3">
            <div>
              <h3 class="lg-txt">{{blogContent[2].title}}</h3>
              <p [innerHTML]=blogContent[2].pagecontent></p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-12 d-flex justify-content-center mt-5">
        <button class="btn default-btn" [routerLink]="'/blogs'">View More</button>
      </div>
    </div>
  </div>
</section>
<section class="activity-sec">
  <div class="container">
    <h3 class="section-title mb-5">Recent Activity</h3>
    <div class="row" *ngIf="activity.length">
      <div class="col-md-6 col-lg-4" *ngFor="let act of activity | paginate: paginationConfig">
        <div class="act-cnt">
          <div class="act-head d-flex align-items-center">
            <div class="prof-pic-cnt mr-3">
              <a [routerLink]="['/userprofile/'+act.username]" ><img src="{{ act.profile ? act.profile : 'assets/images/prof.png' }}"></a>
            </div>
            <div>
              <h3>@{{ act.username }} {{ act.type }} @{{ act.objectname }} on {{ act.date | date:'medium' }} with a bid of {{ act.price }} {{ act.currency }}</h3>
              <p class="mb-0">{{ act.date | date:'medium' }}</p>
            </div>
          </div>
          <img src="{{ act.image ? act.image : 'assets/images/activity-banner1.png' }}" class="img-fluid">
        </div>
      </div>
      <div class="col-lg-12 d-flex justify-content-center mt-5">
        <button class="btn default-btn" *ngIf="isActivityViewMore" [routerLink]="'/market'">View More</button>
      </div>
    </div>
    <div class="row" *ngIf="!activity.length">
      <div class="col-sm-12 text-center">No Activity Result</div>
    </div>
  </div>
</section>
<section class="work-sec" *ngIf="cmsContent.length">
  <div class="container">
    <h3 class="section-title mb-5">How it Works For Artists.</h3>
    <div class="row">
      <div class="col-lg-6"> <img src="assets/images/work-sec-banner.png" class="img-fluid banner-img"> </div>
      <div class="col-lg-6 black-cnt d-flex flex-column justify-content-center align-items-center">
        <div class="d-flex mb-3">
          <div class="mr-3"> <img src="assets/images/authenticate-icon.png"> </div>
          <div class="d-flex flex-column">
            <h3>{{cmsContent[5].title}}</h3>
            <p>{{cmsContent[5].pagecontent}}</p>
          </div>
        </div>
        <div class="d-flex mb-3">
          <div class="mr-3"> <img src="assets/images/setprice-icon.png"> </div>
          <div class="d-flex flex-column">
            <h3>{{cmsContent[6].title}}</h3>
            <p>{{cmsContent[6].pagecontent}}</p>
          </div>
        </div>
        <div class="d-flex mb-3">
          <div class="mr-3"> <img src="assets/images/early-access-icon.png"> </div>
          <div class="d-flex flex-column">
           <h3>{{cmsContent[7].title}}</h3>
           <p>{{cmsContent[7].pagecontent}}</p>
         </div>
       </div>
       <div class="d-flex justify-content-start w-100">
        <button class="btn default-btn ml-lg-5" (click)="goto()">Get On your Radar</button>
      </div>
    </div>
  </div>
</div>
</section>
<section class="market-sec">
  <div class="container">
    <h3 class="section-title">Watch the Market Move</h3>
    <div class="w-100 p-4 gry-bg mb-4">
      <div class="row head mb-3">
        <div class="col-lg-8">
          <div class="d-flex flex-wrap align-items-center">
            <h3 class="mr-2">Top Collectors</h3>
            <span>Recently Collected</span> </div>
          </div>
          <div class="col-lg-4 d-flex justify-content-end">
            <button class="btn default-btn">See All</button>
          </div>
        </div>
        <div class="row" *ngIf="topcollectors.length">
          <div class="col-6 col-md-4 col-lg-2" *ngFor="let col of topcollectors">
            <div class="mkt-cnt pb-lg-0 d-flex flex-column justify-content-center align-items-center">
              <div class="profile"><a [routerLink]="['/userprofile/'+col.user_name]" ><img src="{{ col.user_pic ? col.user_pic : 'assets/images/mkt-prof1.png'}}"></a></div>
              <h3>@{{ col.user_name }}</h3>
              <!-- <p>219</p> -->
            </div>
          </div>
        </div>
        <div *ngIf="!topcollectors.length">
          <div class="d-flex align-items-center mb-3 text-center">
            No Datas Found
          </div>
        </div>
      </div>
      <div class="w-100 p-4 mb-4">
        <div class="row head mb-3">
          <div class="col-lg-8">
            <div class="d-flex flex-wrap align-items-center">
              <h3 class="mr-2">Top Artists</h3>
              <span>Recently Collected</span> </div>
            </div>
            <div class="col-lg-4 d-flex justify-content-end">
              <button class="btn default-btn">See All</button>
            </div>
          </div>
          <div class="row" *ngIf="artist.length">
            <div class="col-6 col-md-4 col-lg-2" *ngFor="let art of artist">
              <div class="mkt-cnt pb-lg-0 d-flex flex-column justify-content-center align-items-center">
                <div class="profile"><a [routerLink]="['/userprofile/'+art.user_name]" ><img src="{{ art.user_pic ? art.user_pic : 'assets/images/mkt-prof1.png'}}"></a></div>
                <h3>@{{ art.user_name }}</h3>
                <!-- <p>219</p> -->
              </div>
            </div>
          </div>
        </div>
        <div class="d-flex justify-content-center w-100">
          <button class="btn default-btn ml-lg-5" (click)="goto()">Start Collecting</button>
        </div>
      </div>
    </section>
    <ng-container>
      <section class="newsletter-sec">
        <div class="container">
         <form name="form" (ngSubmit)="f.form.valid && onSubmit(f)" #f="ngForm" novalidate>
          <div class="row">
            <div class="col-lg-11 mx-auto">
              <div class="newsletter-cnt d-flex py-5 flex-column justify-content-center align-items-center">
                <h3 class="section-title">Subscribe to Our Newsletter</h3>
                <div class="d-flex flex-column flex-md-row mt-3 col-lg-10 mx-auto">
                  <input type="text" placeholder="Enter Your Email Id" name="email" id="email" autocomplete="off" ngModel #email="ngModel" [ngClass]="{ 'is-invalid': f.submitted && email.invalid }" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" required>

                  <button type="submit" class="btn default-btn">Subscribe</button>
                  <div *ngIf="f.submitted && email.invalid" class="invalid-feedback">
                    <div *ngIf="email.errors.required">Email is required</div>
                    <div *ngIf="email.errors.email">Email must be a valid email address</div>
                    <div *ngIf="email.errors.pattern">Email must be a valid email</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </section>
  </ng-container>
  <app-footer></app-footer>
