<app-header></app-header>
<div class="digital-art-sec">
    <div class="middle-section">
        <div class="container  main-content-height d-flex justify-content-center align-items-center">
            <div class="w-100">
                <div class="row">
                    <div class="col-dm-12 col-sm-12 col-lg-12 text-center mt-4 col-xl-12">
                        <img src="assets/images/symbol-logo.png">
                        <h3 class="font-41 font-weight-bold text-color mt-3 ">Create a Account</h3>
                    </div>
                </div>
                <div class="row justify-content-center mt-3">
                    <div class="col-md-12 col-lg-8 col-sm-12 col-xl-6 text-center">
                        <div class="border addresblock p-3 rounded">
                            <label class="fontweight-600">Address</label>
                            <label class="font-16 pl-3">0x4cf53ae8C51c7eCB9f57E825152c5</label>
                        </div>
                        <div class="form-group mt-3 ">
                            <input type="text" class="form-control input-sec font-16 fontweight-400" placeholder="User Name">
                        </div>
                        <div class="form-group mt-3 ">
                            <input type="text" class="form-control font-16 input-sec fontweight-400" placeholder="Email">
                        </div>
                    </div>
                </div>
                <div class="text-center">
                    <div class="form-check login-block">
                        <label class="login-block custom-checkbox fontweight-400 font-16 text-color1">Agree to our
                            Signup <span class="text-primary-color">Terms & Conditions </span> and <span
                                class="text-primary-color">Privacy Policy</span>
                            <input type="checkbox">
                            <span class="checkmark"></span>
                        </label>
                    </div>
                </div>
                <div class="text-center">
                    <button class="btn default-btn mt-4">Sign Up</button>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>